ol{
    list-style: none;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 10px;
}
ol > li{
    display: inline-block;
    min-width: 38px;
    height: 40px;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius : 3px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    background-color: #fff;
    cursor: pointer;
}
ol > li.active{
    background-color: #00b8ff;
    color: #fff;
}