<div *ngIf="__contentLength > 0">
  <ol>
    <li>
      <a (click)="goto(1)">
        처음
      </a>
    </li>
    <li>
      <a (click)="prev()">
        이전
      </a>
    </li>
    <ng-container *ngFor="let page of active_arr;">
      <li (click)="goto(page)" [ngClass]="{'active' : __active_page == page}">
        <a>{{page}}</a>
      </li>
    </ng-container>
    <li (click)="next()">
      <a>
        다음
      </a>
    </li>
    <li (click)="goto(pagination_arr[pagination_arr.length-1])">
      <a>
        마지막
      </a>
    </li>
  </ol>
</div>