<h1>
  <i class="fonti um-bar-chart"></i>
  <span>사운드픽 AS 관리 시스템 주요현황</span>
</h1>
<div>
  <section style="border-left: 3px solid #D76C3E;">
    <dl>
      <dt style="color: #D76C3E;">최근 7일 간 정품등록현황</dt>
      <dd style="color: #D76C3E;">{{counts.newPossession}}건</dd>
    </dl>
    <div class="children">
      <p>세부내역별 현황</p>
      <dl>
        <dt>7일 내 만료예정</dt>
        <dd>{{counts.expiredPossessionOf}}건</dd>
      </dl>
    </div>
  </section>
  <section style="border-left: 3px solid #2563BD;">
    <dl>
      <dt style="color: #2563BD;">최근 7일 간 AS 접수현황</dt>
      <dd style="color: #2563BD;">{{counts.newAsCase}}건</dd>
    </dl>
    <div class="children">
      <p>세부내역별 현황</p>
      <dl>
        <dt>AS 완료</dt>
        <dd>{{counts.expiredAsCase}}건</dd>
      </dl>
      <dl>
        <dt>AS 진행중</dt>
        <dd>{{counts.unexpiredAsCase}}건</dd>
      </dl>
    </div>
    <div class="children">
      <p>증상별 현황</p>
      <dl *ngFor="let case of asCaseDivisions; let i = index;">
        <dt>{{case}}</dt>
        <dd>{{counts.byAsCaseDivision[case]}}건</dd>
      </dl>
      <dl *ngIf="!asCaseDivisions">
        <dt>-</dt>
        <dd>-건</dd>
      </dl>
    </div>
  </section>
</div>