h1{
    font-weight: 200;
    font-size: 2rem;
    margin: 3rem 2rem;
}
section{
    margin: 3rem 2rem;
}
dl{
    margin: 0;
    margin-left: 1rem;
}
dt{
    display: inline;
    font-weight: 500;
    font-size: 1.7rem;
}
dd{
    display: inline;
    font-size: 1.4rem;
}
.children{

}
.children dl{
    display: inline-block;
}
.children p{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    color: #888;
}
.children dt{
    font-size: 1.4rem;
}
.children dd{
    font-size: 1.1rem;
}