<div>
  <ul class="navigator">
    <li [ngClass]="'active'">
      <a>상세정보</a>
    </li>
  </ul>
  <div class="floating-menu btn-2">
    <a (click)="drawCommentInputForm()">
      <i class="fonti um-check-circle"></i>
    </a>
    <a (click)="closeInfoView()">
      <i class="fonti um-times-circle"></i>
    </a>
  </div>
</div>

<form>
  <div>
    <div class="input with-label">
      <label>그룹명</label>
      <span>{{__dispatchedInfo.name}}</span>
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>그룹코드</label>
      <input type="text" [(ngModel)]="__dispatchedInfo.admin_group_code" name="group_code">
    </div>
    <div class="input with-label">
      <label>승인여부</label>
      <select name="validation" [(ngModel)]="__dispatchedInfo.is_valid">
        <option [value]="false">미승인</option>
        <option [value]="true">활동승인</option>
      </select>
    </div>
  </div>
</form>

<ng-template #askComment>
  <div id="ask-comment">
    <div class="bg"></div>
    <div class="form">
      <h4>변경사유 입력</h4>
      <div class="input-area">
        <ng-container>
          <textarea #submitComment></textarea>
        </ng-container>
        <div class="options">
          <button type="submit" (click)="addGroup()">접수</button>
          <button type="button" (click)="removeCommentInputForm()">취소</button>
        </div>
      </div>
      <div class="admin-info">
        <dl>
          <dt>담당자</dt>
          <dd>이가람</dd>
        </dl>
      </div>
    </div>
  </div>
</ng-template>