<form id="login">
  <h2>사운드픽 CS, AS관리자 로그인</h2>
  <div>
    <div class="input with-label">
      <label>
        이메일
      </label>
      <input type="text" name="email" [(ngModel)]="__info.email">
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>비밀번호</label>
      <input type="password" name="password" [(ngModel)]="__info.password">
    </div>
  </div>
  <div class="form-options">
    <button type="submit" (click)="doLogin()">로그인</button>
  </div>
</form>