#login{
    width: 100%;
    max-width: 320px;
    padding: 0;
    padding-bottom: 0.5rem;
    margin: 7rem auto;
    border-radius: 0.8rem;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
#login h2{
    background-color: #a184f3;
    color: #fff;
    margin: 0;
    padding: 1rem;
    border-radius: 0.8rem 0.8rem 0 0;
}
.input.with-label{
    width: calc(100% - 2rem);
    margin: 1rem 1rem 0 1rem;
}
.input.with-label input{
    width: 100%;
    border: 1px solid #eff0f1;
}
.form-options{
    margin: 1rem;
}
.form-options button{
    margin-right: 0;
    background-color: #a184f3;
    color: #fff;
    border-radius: 0.3rem;
}