<div>
  <h4 style="margin:1rem;">구매내역/보증정보</h4>
  <app-select-possession [possession]="asInfo.possession" (onPossessionSelected)="asInfo.possession = $event"></app-select-possession>
</div>
<div class="thread row-2">
  <div class="thread-header">
    <h4>AS CASE</h4>
    <h4>교환내역</h4>
  </div>
  <ng-container *ngFor="let pair of asInfo.exchangeLogAsCaseIndexPair;">
    <div class="thread-body">
      <ng-container *ngIf="pair['as_case'] != null">
        <div>
          <app-as-case #asCase [asCase]="asInfo.possession['as_case'][pair.as_case]" (onAsCaseUpdated)="onAsCaseUpdated(pair.as_case, $event)"
            (onAsCaseRemoved)="onAsCaseRemoved(pair.as_case, $event)"></app-as-case>
        </div>
      </ng-container>
      <ng-container *ngIf="pair['as_case'] == null">
        <div>
          <strong>AS CASE가 없습니다.</strong>
        </div>
      </ng-container>
      <ng-container *ngIf="pair['exchange_log'] != null">
        <div>
          <app-exchange-product [exchange]="asInfo.possession['exchange_log'][pair.exchange_log]" (onExchangeLogUpdated)="onExchangeLogUpdated(pair.exchange_log, $event)"
            (onExchangeLogRemoved)="onExchangeLogRemoved(pair.exchange_log, $event)"></app-exchange-product>
        </div>
      </ng-container>
      <ng-container *ngIf="pair['exchange_log'] == null">
        <div *ngIf="asInfo.possession['as_case'][pair['as_case']]['id']">
          <button class="blue" type="button" (click)="addExchangeLog($event, asInfo.possession['as_case'][pair['as_case']]['id'])">교환내역 생성</button>
        </div>
        <div *ngIf="!asInfo.possession['as_case'][pair['as_case']]['id']">
          <button class="blue" type="button">CASE ID 부여 후, 교환내역을 생성할 수 있습니다.</button>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div class="thread-body make-buttons">
    <div>
      <button class="orange" type="button" (click)="addASCase($event)">AS CASE 신규생성</button>
    </div>
    <div>
      <button class="orange" type="button" (click)="addExchangeLog($event)">교환내역 생성</button>
    </div>
  </div>
</div>


<!--<div>
  <ul class="navigator">
    <li class="active">
      <a>구매정보</a>
    </li>
  </ul>
  <div class="floating-menu btn-2">
    <a (click)="drawCommentInputForm()">
      <i class="fonti um-check-circle"></i>
    </a>
    <a (click)="closeInfoView()">
      <i class="fonti um-times-circle"></i>
    </a>
  </div>
</div>
<form>
  <div>
    <h4>구매자정보</h4>
    <app-select-customer [customer]="asInfo.firstCustomer" (onCustomerSelected)="asInfo.firstCustomer = $event"></app-select-customer>
  </div>
  <div>
    <h4>구매정보</h4>
    <ng-container *ngIf="!asInfo.possession['exchange_log']">
      <p class="alert">구매자정보를 입력해주세요</p>
    </ng-container>
    <app-select-possession *ngIf="asInfo.possession['exchange_log']" [possession]="asInfo.possession" (onPossessionSelected)="asInfo.possession = $event"></app-select-possession>
  </div>
</form>


<div>
  <ul class="navigator">
    <li [ngClass]="{'active' : __viewmode == 1}" (click)="__viewmode = 1">
      <a>A/S정보</a>
    </li>
    <li [ngClass]="{'active' : __viewmode == 2}" (click)="__viewmode = 2">
      <a>교환정보</a>
    </li>
    <li [ngClass]="{'active' : __viewmode == 3}" (click)="__viewmode = 3">
      <a>변경정보</a>
    </li>
  </ul>
</div>

<form *ngIf="__viewmode == 1">
  <h4>A/S내역</h4>
  <ng-container *ngFor="let as_case of asInfo.possession.as_case; let as_case_index = index">
    <div class="as-case-list">
      <app-as-case #asCase [asCase]="as_case" (onAsCaseUpdated)="onAsCaseUpdated(as_case_index, $event)" (onAsCaseRemoved)="onAsCaseRemoved(as_case_index, $event)"></app-as-case>
    </div>
  </ng-container>

  <ng-container *ngIf="asInfo.possession.exchange_log">
    <div class="new-line-maker">
      <button type="button" (click)="addASCase($event)">
        <i class="fonti um-pencil-square-o"></i>
        새로운 AS CASE 생성
      </button>
    </div>
  </ng-container>

  <ng-container>
    <p class="alert">구매내역을 입력해주세요.</p>
  </ng-container>
</form>

<form *ngIf="__viewmode == 2">
  <h4>제품교환</h4>
  <ng-container *ngIf="asInfo.possession.as_case">
    <ng-container *ngFor="let exchange of asInfo.possession.exchange_log; let idx = index;">
      <div class="exchange-product-list">
        <div *ngIf="idx == 0">
          <div class="exchange-product-header">
            <div class="image with-label-col">
              <figure *ngIf="exchange.product.image && exchange.product.image.length > 0" class="thumbnail">
                <img [src]="staticURL + '/product/' + exchange.product.image[0].image_filename">
              </figure>
              <figure *ngIf="!exchange.product.image || exchange.product.image.length == 0" class="thumbnail">
                <img src="/assets/images/no-image.jpg">
              </figure>
            </div>
            <app-select-product [serial]="exchange.serial" [product]="exchange.product" (onProductSelected)="alert('최초 등록한 정보는 변경할 수 없습니다.')"></app-select-product>
          </div>
        </div>
        <app-exchange-product *ngIf="idx > 0" [exchange]="exchange" (onExchangeLogUpdated)="onExchangeLogUpdated(idx, $event)" (onExchangeLogRemoved)="onExchangeLogRemoved(idx, $event)"></app-exchange-product>
      </div>
    </ng-container>
    <div class="new-line-maker">
      <button type="button" (click)="addExchangeLog($event)">
        <i class="fonti um-pencil-square-o"></i>
        새로운 교환내역 생성
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="!asInfo.possession.as_case">
    <p class="alert">1건 이상의 AS접수내역이 있어야 합니다.</p>
  </ng-container>
</form>

<form *ngIf="__viewmode == 3">
  <app-log-viewer [target]="asInfo.possession"></app-log-viewer>
</form>

<ng-template #askComment>
  <div id="ask-comment">
    <div class="bg"></div>
    <div class="form">
      <h4>변경사유 입력</h4>
      <!-- <div>
        <dl>
          <dt>
            변경된 컬럼
          </dt>
          <dd>
            <span>브랜드</span>
            <span>제품</span>
            <span>제품번호</span>
            <span>Validation</span>
          </dd>
        </dl>
      </div> -->
<!--<div class="input-area">
        <ng-container>
          <textarea #submitComment></textarea>
        </ng-container>
        <div class="options">
          <button type="submit" (click)="submit()">접수</button>
          <button type="button" (click)="removeCommentInputForm()">취소</button>
        </div>
      </div>
      <div class="admin-info">
        <dl>
          <dt>담당자</dt>
          <dd>{{sessionService._info['name']}}</dd>
        </dl>
      </div>
    </div>
  </div>
</ng-template> -->