/* :host{
    position: relative;
}
:host > div{
    position: relative;
}
.as-case-list, .exchange-product-list{
    margin-top: 1rem;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
.new-line-maker{
    text-align: center;
    margin: 1rem 0;
}
.new-line-maker > button{
    border-radius: 1.3rem;
    background-color: red;
}
:host > form{
    margin-top: 0;
}
:host >>> .state-options{
    text-align: right;
    padding: 1rem 0;
}
:host >>> .state-options > button{
    border-radius: 1.3rem;
    background-color: #3498db;
}
.image.with-label-col{
    position: relative;
    display: inline-block;
    margin: 0.1rem;
    width: 5rem;
    height: 5rem;
}
.image.with-label-col > figure{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0.1rem;
    padding: 0;
    border: 1px solid #2c3e50;
}
.image.with-label-col> figure > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.image.with-label-col > figure > figcaption{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.2rem;
    background-color: rgba(0,0,0,0.1);
    font-size: 0.8rem;
    padding: 0.3rem;
    text-align: center;
}
.exchange-product-header{
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #586069;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
} */