<div>
  <ul class="navigator">
    <li [ngClass]="{'active' : __viewmode == 1}" (click)="__viewmode = 1">
      <a>상세정보</a>
    </li>
  </ul>
  <div class="floating-menu btn-2">
    <a (click)="drawCommentInputForm()">
      <i class="fonti um-check-circle"></i>
    </a>
    <a (click)="closeInfoView()">
      <i class="fonti um-times-circle"></i>
    </a>
  </div>
</div>


<form *ngIf="__viewmode == 1">
  <h4>브랜드 상세정보</h4>
  <div>
    <div class="input with-label">
      <label>브랜드명</label>
      <input type="text" name="name" [(ngModel)]="__dispatchedInfo.name">
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>브랜드이미지</label>
      <ol class="image-list">
        <li *ngFor="let image of __dispatchedInfo.image; let idx = index">
          <figure>
            <img [src]="staticURL + '/brand/' + image.image_filename">
            <figcaption>
              <span>{{image.image_size_width}}x{{image.image_size_height}}</span>
            </figcaption>
          </figure>
        </li>
        <li>
          <input type="file" #brandImageFileInput multiple (change)="uploadImage($event)">
          <div class="add-files" (click)="brandImageFileInput.click()">
            <i class="fonti um-plus-circle"></i>
            <span>추가하기</span>
          </div>
        </li>
      </ol>
    </div>
  </div>
</form>

<ng-template #askComment>
  <div id="ask-comment">
    <div class="bg"></div>
    <div class="form">
      <h4>변경사유 입력</h4>
      <div>
        <dl>
          <dt>
            변경된 컬럼
          </dt>
          <dd>
            <span>브랜드</span>
            <span>제품</span>
            <span>제품번호</span>
            <span>Validation</span>
          </dd>
        </dl>
      </div>
      <div class="input-area">
        <ng-container>
          <textarea #submitComment></textarea>
        </ng-container>
        <div class="options">
          <button (click)="submit()">접수</button>
          <button (click)="removeCommentInputForm()">취소</button>
        </div>
      </div>
      <div class="admin-info">
        <dl>
          <dt>담당자</dt>
          <dd>이가람</dd>
        </dl>
      </div>
    </div>
  </div>
</ng-template>