:host{
    position: relative;
}
:host > div{
    position: relative;
}
:host > form{
    margin-top: 0;
}
.image-list{
    margin: 0;
    padding: 0;
}
.image-list > li{
    position: relative;
    display: inline-block;
    margin: 0.1rem;
    border: 1px solid #2c3e50;
    width: 7rem;
    height: 7rem;
}
.image-list > li:last-child{
    border: 1px dashed #2c3e50;
}
.image-list > li > figure{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.image-list > li > figure > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.image-list > li > figure > figcaption{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.2rem;
    background-color: rgba(0,0,0,0.1);
    font-size: 0.8rem;
    padding: 0.3rem;
    text-align: center;
}
.add-files{
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
}
.add-files > i{
    display: block;
    margin: 0.5rem;
    padding: 0.2rem;
    font-size: 2rem;
}
.add-files > span{
    display: block;
    margin: 0.5rem;
}