<div class="wrap">
  <div>
    <form [formGroup]="searchCondition" (ngSubmit)="search()" novalidate>
      <div>
        <div class="input with-label">
          <label>처리상태</label>
          <select>
            <option>선택하세요</option>
          </select>
        </div>
        <div class="input with-label" formGroupName="receptionPeriod">
          <label>접수기간</label>
          <input class="date" type="text" formControlName="from">
          <span>부터 </span>
          <input class="date" type="text" formControlName="to">
          <span>까지</span>
        </div>
        <div class="input with-label">
          <label>접수기간 간편선택</label>
          <button (click)="setReceptionPeriod(-7)">최근 7일</button>
          <button (click)="setReceptionPeriod(-30)">최근 30일</button>
          <button (click)="setReceptionPeriod(-90)">최근 90일</button>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>상황별</label>
          <span class="checkbox">
            <input type="checkbox">
            <span>체크박스1</span>
          </span>
          <span class="checkbox">
            <input type="checkbox">
            <span>체크박스1</span>
          </span>
          <span class="checkbox">
            <input type="checkbox">
            <span>체크박스1</span>
          </span>
          <span class="checkbox">
            <input type="checkbox">
            <span>체크박스1</span>
          </span>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>문자열 검색</label>
          <input class="keyword" type="text" formControlName="keyword">
          <button type="submit">검색</button>
        </div>
      </div>
    </form>
    <div class="splited-view-table-wrap">
        <app-splited-view-table [title]="[['구분', '이름', '신청일'], ['신청시각', '승인시각', '승인여부', '조회/변경']]" [data]="splitedViewTableData"
        [columnWidth]="[100, 80, 150, 150, 150, 80, 80]" (actionOutput)="actionFromSplitedViewTable($event)"></app-splited-view-table>
    </div>
    <div class="splited-view-table-options">
      <button>신규접수</button>
      <button>엑셀로 저장</button>
    </div>
  </div>
</div>