ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
ol > li{
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
.proof-image{
    width: 3rem;
    height: 3rem;
}
.log table{
    width: 100%;
    border-collapse: collapse;
    word-break: break-all;
}
.log table tr{
    border: 1px solid #fff;
    border-top: none;
}
.log table tr:first-child{
    border-top: 1px solid #fff;
}
.log table tr th{
    width: 8rem;
}
.log table tr td.arrow{
    width: 2.5rem !important;
    background-color: #fff;
    text-align: center;
}
.log table tr td{
    width: calc((50% - 16rem - 2.5rem - 2px) / 2) !important;
    background-color: #F1F8FE;
}
.log{

}
.log-info{
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #586069;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.log-info .info{
    margin-top: 0;
    padding-top: 1rem;
    text-align: right;
}
.log-info .description{
    background-color: transparent;
}