<ol>
  <li *ngFor="let comm of __aligned; let i = index">
    <div class="log-info">
      <p class="info">
        <span>게시자 : {{comm[0].admin_name}}</span>
        <span>,</span>
        <span>{{formAssistantService.convertPyDatetime(comm[0].reg_date, 'string')}}</span>
      </p>
      <p class="description">{{comm[0].description}}</p>
    </div>
    <div class="log">
      <table>
        <tr *ngFor="let row of comm; let k = index">
          <ng-container [ngSwitch]="row.table_name + '.' + row.column_name">
            <ng-container *ngSwitchCase="'possession.purchase_date'">
              <th>{{translate(row.table_name)}}</th>
              <th>{{translate(row.column_name)}}</th>
              <td>{{formAssistantService.convertPyDatetime(row.prev_value, 'string')}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{formAssistantService.convertPyDatetime(row.next_value, 'string')}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'possession.proof_image_filename'">
              <th>{{translate(row.table_name)}}</th>
              <th>구매증빙</th>
              <td>
                <img class="proof-image" *ngIf="row.prev_value" [src]="staticURL + '/receipt/' + row.prev_value">
              </td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>
                <img class="proof-image" *ngIf="row.next_value" [src]="staticURL + '/receipt/' + row.next_value">
              </td>
            </ng-container>
            <ng-container *ngSwitchCase="'possession.warranty_expired_date'">
              <th>{{translate(row.table_name)}}</th>
              <th>보증만료일자</th>
              <td>{{formAssistantService.convertPyDatetime(row.prev_value, 'string')}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{formAssistantService.convertPyDatetime(row.next_value, 'string')}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.is_expired'">
              <th>{{translate(row.table_name)}}</th>
              <th>처리상태</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.possession_id'">
              <td colspan="5" style="text-align: center;">AS 신규 등록</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.division'">
              <th>{{translate(row.table_name)}}</th>
              <th>증상</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.description'">
              <th>{{translate(row.table_name)}}</th>
              <th>증상재현</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.expired_date'">
              <td colspan="5" style="text-align: center;">AS 종료 처리</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.customer_id'">
              <th>{{translate(row.table_name)}}</th>
              <th>AS접수자</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.process.test_device'">
              <th>{{translate(row.table_name)}}</th>
              <th>연결장비</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.process.address'">
              <th>{{translate(row.table_name)}}</th>
              <th>주소</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.process.postcode'">
              <th>{{translate(row.table_name)}}</th>
              <th>우편번호</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.process.invoice'">
              <th>{{translate(row.table_name)}}</th>
              <th>송장번호</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.process.invoice_price'">
              <th>{{translate(row.table_name)}}</th>
              <th>운임가</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'as_case.process.invoice_fee_type'">
              <th>{{translate(row.table_name)}}</th>
              <th>처리타입</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'exchange_log.product_id'">
              <th>{{translate(row.table_name)}}</th>
              <th>교환제품</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'exchange_log.serial_id'">
              <th>{{translate(row.table_name)}}</th>
              <th>교환제품</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'customer.name'">
                <th>{{translate(row.table_name)}}</th>
                <th>이름</th>
                <td>{{row.prev_value}}</td>
                <td class="arrow">
                  <i class="fonti um-angle-double-right"></i>
                </td>
                <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'customer.phone1'">
                <th>{{translate(row.table_name)}}</th>
                <th>주연락처</th>
                <td>{{row.prev_value}}</td>
                <td class="arrow">
                  <i class="fonti um-angle-double-right"></i>
                </td>
                <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchCase="'customer.phone2'">
                <th>{{translate(row.table_name)}}</th>
              <th>보조연락처</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th>{{translate(row.table_name)}}</th>
              <th>{{translate(row.column_name)}}</th>
              <td>{{row.prev_value}}</td>
              <td class="arrow">
                <i class="fonti um-angle-double-right"></i>
              </td>
              <td>{{row.next_value}}</td>
            </ng-container>
          </ng-container>
        </tr>
      </table>
    </div>
  </li>
</ol>