#product{
    width: 50%;
    float: left;
}
:host form{
    min-height: 15.1rem;
}
.selected-brand-list{
    font-size: 0.875rem;
}
.selected-brand-list > span{
    display: inline-block;
    height: 1rem;
}