<div class="wrap">
  <div>
    <form novalidate>
      <div>
        <div class="input with-label">
          <label>인증상태</label>
          <select [(ngModel)]="searchCondition.is_valid" name="is_valid">
            <option [value]="true">인증그룹</option>
            <option [value]="false">비인증그룹</option>
          </select>
        </div>
        <div class="input with-label">
          <label>등록기간</label>
          <input-date [(ngModel)]="searchCondition.from_date" [ngModelOptions]="{standalone:true}" placeholder="YYYYMMDD"></input-date>
          <span>부터 </span>
          <input-date [(ngModel)]="searchCondition.to_date" [ngModelOptions]="{standalone:true}" placeholder="YYYYMMDD"></input-date>
          <span>까지</span>
        </div>
        <div class="input with-label">
          <label>등록기간 간편선택</label>
          <button (click)="setReceptionPeriod(-7)">최근 7일</button>
          <button (click)="setReceptionPeriod(-365)">최근 365일</button>
          <button (click)="setReceptionPeriod(-1095)">최근 1095일</button>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>문자열 검색</label>
          <input class="keyword" type="text" [(ngModel)]="searchCondition.keyword" name="keyword">
          <button type="button" (click)="search()">검색</button>
        </div>
      </div>
    </form>
    <div class="splited-view-table-options">
      <app-splited-view-table [title]="SVTTitles" [data]="SVTRows" [columnWidth]="SVTColumnWidths" (actionOutput)="actionFromSVT($event)"
        (onCheckboxSwitchedActionOutput)="SVTSelectedIndexes = $event;"></app-splited-view-table>
      <app-pagination [contentLength]="searchResultCount" [atOnce]="30" (whenPageClicked)="searchCondition.page = $event; search()"></app-pagination>
    </div>
    <div class="splited-view-table-options">
      <button type="button" (click)="showGroupInfo()">신규등록</button>
    </div>
  </div>
  <ng-template #groupInfoContainer></ng-template>
</div>