<div>
  <ul class="navigator">
    <li [ngClass]="{'active' : __viewmode == 1}" (click)="__viewmode = 1">
      <a>신규 제품번호 생성</a>
    </li>
  </ul>
  <div class="floating-menu btn-2">
    <a (click)="drawCommentInputForm()">
      <i class="fonti um-play-circle"></i>
    </a>
    <a (click)="closeInfoView()">
      <i class="fonti um-times-circle"></i>
    </a>
  </div>
</div>

<form>
  <div>
    <div class="input with-label">
      <label>브랜드선택</label>
      <select name="brand" [(ngModel)]="selectedCondition.brand" (change)="validationService.getValidationTargetProduct(validationService.brandList[$event.target.value].id)">
        <option [value]="-1">---선택하세요---</option>
        <ng-container *ngFor="let brand of validationService.brandList; let idx = index">
          <option [value]="idx">{{brand.name}}</option>
        </ng-container>
      </select>
    </div>
    <div class="input with-label">
      <label>제품선택</label>
      <select name="product" [(ngModel)]="selectedCondition.product">
        <option [value]="-1">---선택하세요({{validationService.productList.length}}개)---</option>
        <ng-container *ngFor="let product of validationService.productList; let idx = index">
          <option [value]="idx">{{product.name}}</option>
        </ng-container>
      </select>
    </div>
    <div class="input with-label">
      <label>제품번호 파일선택</label>
      <input type="text" placeholder="업로드된 파일명" [value]="serialFileInfo.filename" disabled>
      <input type="file" #serialFileInput (change)="uploadSerialSheetFile($event)">
      <button (click)="serialFileInput.click()">파일업로드</button>
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>시트선택</label>
      <select name="sheet" [(ngModel)]="selectedCondition.sheet" (change)="getColumnsOfSelectedSheet($event)">
        <option value="-1">---선택하세요---</option>
        <ng-container *ngFor="let sheet of serialFileInfo.sheet; let idx = index">
          <option [value]="idx">{{sheet}}</option>
        </ng-container>
      </select>
    </div>
    <div class="input with-label">
      <label>제품번호열선택</label>
      <select name="column" [(ngModel)]="selectedCondition.column">
        <option value="-1">---선택하세요---</option>
        <ng-container *ngFor="let column of serialFileInfo.column[selectedCondition.sheet]; let idx = index">
          <option [value]="idx">{{column}}</option>
        </ng-container>
      </select>
    </div>
    <div class="input with-label">
      <label>Validation</label>
      <div class="checkbox">
        <input type="radio" name="is_expired" [(ngModel)]="selectedCondition.is_expired" [value]="false">
        <span>validate</span>
      </div>
      <div class="checkbox">
        <input type="radio" name="is_expired" [(ngModel)]="selectedCondition.is_expired" [value]="true">
        <span>expire</span>
      </div>
      <button type="button" (click)="addWork()">작업추가</button>
    </div>
  </div>
  <div>
    <h5>선택된 작업</h5>
    <div>
      <ol class="selected-work-list">
        <li *ngFor="let work of reservedWorks; let idx = index;">
          <p>[{{work.brand.name}}] [{{work.product.name}}] -> [{{work.sheet}}]시트의 [{{work.column}}]열 데이터로 [{{work.is_expired
            ? 'expire' : 'validate'}}] 합니다.</p>
          <a class="close" (click)="reservedWorks.splice(idx, 1);">
            취소
          </a>
        </li>
      </ol>
    </div>
  </div>
</form>

<ng-template #askComment>
  <div id="ask-comment">
    <div class="bg"></div>
    <div class="form">
      <h4>변경사유 입력</h4>
      <div>
        <dl>
          <dt>
            변경된 컬럼
          </dt>
          <dd>
            <span>브랜드</span>
            <span>제품</span>
            <span>제품번호</span>
            <span>Validation</span>
          </dd>
        </dl>
      </div>
      <div class="input-area">
        <ng-container>
          <textarea #submitComment></textarea>
        </ng-container>
        <div class="options">
          <button type="submit" (click)="submit()">접수</button>
          <button type="button" (click)="removeCommentInputForm()">취소</button>
        </div>
      </div>
      <div class="admin-info">
        <dl>
          <dt>담당자</dt>
          <dd>이가람</dd>
        </dl>
      </div>
    </div>
  </div>
</ng-template>