.target{
    background-color: #e7f1fb;
}
.as-case-header{
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #586069;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.fold-and-expand-options{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-align: right;
    padding-right: 1rem;
}
.fold-and-expand-options button{
    background-color: transparent;
    color: #2c3e50;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    min-width: initial;
}
.fold-and-expand-options button:hover{
    box-shadow: none;
    transition: none;
}
.same-person-check{
    margin-left: 0.5rem;
}