<ng-container *ngIf="!isEditing">
  <form class="ticket-style-form">
    <div class="flex row align-top">
      <div class="ticket-state flex col">
        <div>
          <dl>
            <dt>CASE ID</dt>
            <dd>
              <span>{{__oAsCase.id}}</span>
            </dd>
          </dl>
        </div>
        <div class="valid">
          <span>{{__oAsCase.is_expired}}</span>
        </div>
        <div>
          <span>{{formAssistantService.convertToStringTypeOfDate(__oAsCase.reg_date)}}</span>
        </div>
      </div>
      <div class="ticket-body">
        <div>
          <div class="checkbox same-person-check">
            <input type="checkbox" [checked]="__uAsCase.customer && asInfo.firstCustomer.id == __uAsCase.customer.id" readonly>
            <span>구매정보와 동일인이 신청한 A/S입니다.</span>
          </div>
        </div>
        <app-select-customer [isEditing]="false" [customer]="__uAsCase.customer" (onCustomerSelected)="onASRegisterSelected($event)"></app-select-customer>
        <div>
          <dl>
            <dt>증상구분</dt>
            <dd>
              <span>{{__oAsCase.division}}</span>
            </dd>
          </dl>
          <dl class="inline">
            <dt>연결장비</dt>
            <dd>
              <div class="text">{{__oAsCase.process['test_device']}}</div>
            </dd>
          </dl>
          <dl class="inline">
            <dt>증상재현</dt>
            <dd>
              <div class="text">{{__oAsCase.description}}</div>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>제품접수방법</dt>
            <dd>
              <span>{{__oAsCase.process['delivery_method']}}</span>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>제품접수일</dt>
            <dd>
              <span>{{formAssistantService.convertToStringTypeOfDate(__oAsCase.process['delivery_date'])}}</span>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>운임가</dt>
            <dd>
              <span>{{__oAsCase.process['invoice_price']}}</span>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="flex row">
      <div class="ticket-options">
        <button (click)="isEditing = true;">
          <i class="fonti um-repeat"></i>
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="isEditing">
  <form class="ticket-style-form">
    <div class="flex row align-top">
      <div class="ticket-state flex col">
        <div>
          <dl>
            <dt>CASE ID</dt>
            <dd>
              <span>{{__uAsCase.id}}</span>
            </dd>
          </dl>
        </div>
        <div class="valid">
          <select name="is_expired" name="is_expired" [(ngModel)]="__uAsCase['is_expired']">
            <option [ngValue]="null">---선택하세요---</option>
            <option [ngValue]="'처리중'">처리중</option>
            <option [ngValue]="'처리완료'">처리완료</option>
          </select>
        </div>
        <div>
          <span>
            {{__uAsCase.reg_date}}
          </span>
        </div>
      </div>
      <div class="ticket-body">
        <div>
          <div class="checkbox same-person-check">
            <input type="checkbox" (click)="setRegisterToPossessionCustomer()" [checked]="__uAsCase.customer && asInfo.firstCustomer.id == __uAsCase.customer.id">
            <span>구매정보와 동일인이 신청한 A/S입니다.</span>
          </div>
        </div>
        <app-select-customer [isEditing]="true" [customer]="__uAsCase.customer" (onCustomerSelected)="onASRegisterSelected($event)"></app-select-customer>
        <div>
          <dl>
            <dt>증상구분</dt>
            <dd>
              <select name="division" [(ngModel)]="__uAsCase.division">
                <ng-container *ngFor="let symptom of asService.symptomList">
                  <option [ngValue]="symptom.value">{{symptom.value}}</option>
                </ng-container>
              </select>
            </dd>
          </dl>
          <dl class="inline">
            <dt>연결장비</dt>
            <dd>
              <textarea name="test_device" [(ngModel)]="__uAsCase.process['test_device']"></textarea>
            </dd>
          </dl>
          <dl class="inline">
            <dt>증상재현</dt>
            <dd>
              <textarea name="description" [(ngModel)]="__uAsCase.description"></textarea>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>제품접수방법</dt>
            <dd>
              <select name="delivery_method" [(ngModel)]="__uAsCase.process['delivery_method']">
                <option [ngValue]="'선불택배'">선불택배</option>
                <option [ngValue]="'착불택배'">착불택배</option>
                <option [ngValue]="'방문접수'">방문접수</option>
              </select>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>제품접수일</dt>
            <dd>
              <input-date name="delivery_date" [(ngModel)]="__uAsCase.process['delivery_date']" placeholder="YYYYMMDD" [ngModelOptions]="{standalone: true}"></input-date>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>운임가</dt>
            <dd>
              <input type="number" [(ngModel)]="__uAsCase.process['invoice_price']">
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="flex row">
      <div class="ticket-options">
        <button (click)="isEditing = false;">
          <i class="fonti um-repeat"></i>
        </button>
        <button (click)="update()" [disabled]="!isDiff()">
          <i class="fonti um-save"></i>
        </button>
        <button *ngIf="!__uAsCase.id" (click)="onAsCaseRemoved.emit(__uAsCase)">
          <i class="fonti um-trash"></i>
        </button>
      </div>
    </div>
  </form>
</ng-container>

<!-- <div class="as-case-header">
  <div>
    <div class="input with-label">
      <label>케이스ID</label>
      <input type="number" class="id" name="id" [ngModel]="__uAsCase['id']" placeholder="미할당" [ngModelOptions]="{standalone:true}"
        disabled>
    </div>
    <div class="input with-label">
      <label>등록일시</label>
      <input-date [(ngModel)]="__uAsCase['reg_date']" placeholder="YYYYMMDD" [ngModelOptions]="{standalone: true}" disabled></input-date>
    </div>
    <div class="input with-label">
      <label>처리상태</label>
      <select name="is_expired" [(ngModel)]="__uAsCase['is_expired']">
        <option [ngValue]="null">---선택하세요---</option>
        <option [ngValue]="'처리중'">처리중</option>
        <option [ngValue]="'처리완료'">처리완료</option>
      </select>
    </div>
  </div>
  <div class="fold-and-expand-options">
    <button type="button" (click)="expandOrFold()">
      <i class="fonti um-angle-o-down" *ngIf="!isExpand"></i>
      <i class="fonti um-angle-o-up" *ngIf="isExpand"></i>
    </button>
  </div>
</div>
<div *ngIf="isExpand" [ngClass]="{target : asInfo.initialAsCaseId == __oAsCase['id']}">
  <div>
    <div class="checkbox same-person-check">
      <input type="checkbox" (click)="setRegisterToPossessionCustomer()" [checked]="__uAsCase.customer && asInfo.firstCustomer.id == __uAsCase.customer.id">
      <span>구매정보와 동일인이 신청한 A/S입니다.</span>
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>신청인 정보</label>
      <app-select-customer [customer]="__uAsCase.customer" (onCustomerSelected)="onASRegisterSelected($event)"></app-select-customer>
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>증상구분</label>
      <select name="division" [(ngModel)]="__uAsCase.division">
        <ng-container *ngFor="let symptom of asService.symptomList">
          <option [ngValue]="symptom.value">{{symptom.value}}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div>
    <div>
      <ng-container>
        <div class="input with-label">
          <label>연결장비</label>
          <textarea name="test_device" [(ngModel)]="__uAsCase.process.test_device"></textarea>
        </div>
      </ng-container>
      <div class="input with-label">
        <label>증상재현</label>
        <textarea name="description" [(ngModel)]="__uAsCase.description" placeholder="(필수)"></textarea>
      </div>
    </div>
    <div>
      <div class="input with-label">
        <label>주소</label>
        <input name="address" class="wide" type="text" [(ngModel)]="__uAsCase.process.address">
      </div>
      <div class="input with-label">
        <label>우편번호</label>
        <input name="postcode" type="text" [(ngModel)]="__uAsCase.process.postcode">
        <button type="button" (click)="getPostcode(asCase_index)">접수주소로 자동입력</button>
      </div>
    </div>
    <div>
      <div class="input with-label">
        <label>처리타입</label>
        <select name="invoice_fee_type" [(ngModel)]="__uAsCase.process.invoice_fee_type">
          <option [value]="null">미처리</option>
          <option value="유상">유상</option>
          <option value="무상">무상</option>
        </select>
      </div>
      <div class="input with-label">
        <label>송장번호</label>
        <input name="invoice" type="text" [(ngModel)]="__uAsCase.process.invoice" placeholder="숫자만 입력">
      </div>
      <div class="input with-label">
        <label>운임가</label>
        <input name="invoice_price" type="number" [(ngModel)]="__uAsCase.process.invoice_price">
      </div>
    </div>
  </div>
  <div class="state-options">
    <button type="button" (click)="onAsCaseUpdated.emit(__uAsCase)" [disabled]="!isDiff()">
      <i class="fonti um-save"></i>
      <span>변경정보저장</span>
    </button>
    <button type="button" *ngIf="!__uAsCase.id" (click)="onAsCaseRemoved.emit(__uAsCase)">
      <i class="fonti um-undo"></i>
      <span>입력취소</span>
    </button>
  </div>
</div> -->