/* You can add global styles to this file, and also import other style files */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
h1,h2,h3{
    font-weight: 300;
}
.wrap{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    transition: 0.375s;
    z-index: 500;
}
.bg.sky{
    background: linear-gradient(125deg, rgb(74, 160, 230), rgb(40, 122, 221));
}
.bg.dark{
    background: #283339;
}
.card{
    border-radius: 10px;
    width: 360px;
    max-width: calc(100% - 2rem);
    height: 200px;
    max-height: 100%;
    margin: 1rem;
    color: white;
    padding: 10px;
}
.card.bg.sky{
    box-shadow: 3px 5px 8px #C8D9E7;
}
.card.bg.dark{
    box-shadow: 3px 5px 8px #969DA4;
}
.input{
}
.input.styled{
    margin: 0;
    padding: 1.875rem;
}
.input.styled label{
    display: block;
    max-width: 100%;
    font-size: 0.875rem;
    font-weight: 500;
}
.input.styled input{
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    height: 2.5rem;
    font-weight: 300;
    max-width: 100%;
}
.input.styled textarea{
    background-color: transparent;
    box-shadow: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    padding: 0.675rem;
    max-width: calc(100% - 20px);
    max-height: 100%;
}
.input.styled input:focus{
    outline: none;
}
.input.styled textarea:focus{
    outline: none;
}
.input.styled.blue-set label{
    color: #5B98E5;
}
.input.styled.blue-set input{
    border-bottom: 2px solid #5B98E5;
    color: #283339;
}
.input.styled.blue-set textarea{
    border: 2px solid #5B98E5;
    color: #283339;
}
.input.input.styled.dark-set label{
    color: #283339;
}
.input.styled.dark-set input{
    border-bottom: 2px solid #283339;
    color: #283339;
}
.input.styled.dark-set textarea{
    border: 2px solid #283339;
    color: #283339;
}