<ng-container *ngIf="disabled">
<input type="text" name="{{name}}" placeholder="{{placeholder}}" class="date" [(ngModel)]="value" [ngModelOptions]="{standalone:true}" disabled>
</ng-container>
<ng-container *ngIf="!disabled">
    <input type="text" name="{{name}}" placeholder="{{placeholder}}" class="date" [(ngModel)]="value" [ngModelOptions]="{standalone:true}">
</ng-container>