<div id="brand">
  <form novalidate>
    <div>
      <div class="input with-label">
        <label>등록기간</label>
        <input-date [(ngModel)]="searchCondition.from_date" [ngModelOptions]="{standalone:true}" placeholder="YYYYMMDD"></input-date>
        <span>부터 </span>
        <input-date [(ngModel)]="searchCondition.to_date" [ngModelOptions]="{standalone:true}" placeholder="YYYYMMDD"></input-date>
        <span>까지</span>
      </div>
      <div class="input with-label">
        <label>등록기간 간편선택</label>
        <button type="button" (click)="setReceptionPeriod(-180)">최근 180일</button>
        <button type="button" (click)="setReceptionPeriod(-365)">최근 1년</button>
        <button type="button" (click)="setReceptionPeriod(-1095)">최근 3년</button>
      </div>
    </div>
    <div>
      <div class="input with-label">
        <label>문자열 검색</label>
        <input class="keyword" type="text" name="keyword" [(ngModel)]="searchCondition.keyword">
        <button type="submit" (click)="searchBrandInfo()">검색</button>
      </div>
    </div>
  </form>
  <div class="splited-view-table-wrap">
    <app-splited-view-table [title]="SVTTitles" [data]="SVTRows" [columnWidth]="SVTColumnWidths"
      (actionOutput)="actionFromSVT($event)"
      (onCheckboxSwitchedActionOutput)="SVTSelectedIndexes = $event; onVTCBrandSelected($event)"></app-splited-view-table>
      <app-pagination [contentLength]="searchResultCount" [atOnce]="30" (whenPageClicked)="searchCondition.page = $event; search()"></app-pagination>
  </div>
  <div class="splited-view-table-options">
    <button type="button" (click)="showBrandInfo()">신규등록</button>
    <!-- <button type="button">엑셀로 저장</button> -->
  </div>
  <ng-template #brandInfoContainer></ng-template>
</div>