<button type="button" (click)="selectAll($event)">전체</button>
<span class="checkbox" *ngFor="let v of __values;let i = index;">
  <input type="checkbox" [name]="name" [value]="v" (click)="setValue($event)" [checked]="__checked.indexOf(v) > -1">
  <span>{{__labels[i]}}</span>
</span>