<div>
  <ul class="navigator">
    <li [ngClass]="'active'">
      <a>상세정보</a>
    </li>
  </ul>
  <div class="floating-menu">
    <a (click)="closeInfoView()">
      <i class="fonti um-times-circle"></i>
    </a>
  </div>
</div>

<form>
  <div>
    <div class="input with-label">
      <label>이름</label>
      <span>{{__dispatchedInfo.name}}</span>
    </div>
    <div class="input with-label">
      <label>관리그룹</label>
      <span>{{__dispatchedInfo.admin_group.name}}</span>
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>승인여부</label>
      <select name="validation" [ngModel]="__dispatchedInfo.is_valid" (ngModelChange)="setValidation($event)">
        <option [value]="false">미승인</option>
        <option [value]="true">활동승인</option>
      </select>
    </div>
  </div>
</form>