<form id="login">
  <h2>사운드픽 CS, AS관리자 가입신청</h2>
  <div>
    <div class="input with-label">
      <label>
        이메일
      </label>
      <input type="text" name="email" [(ngModel)]="__info.email">
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>비밀번호</label>
      <input type="password" name="password" [(ngModel)]="__info.password">
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>비밀번호 확인</label>
      <input type="password" name="password_check" #passwordCheck>
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>그룹코드</label>
      <input type="text" name="group_code" [(ngModel)]="__info.groupCode">
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>이름</label>
      <input type="text" name="name" [(ngModel)]="__info.name">
    </div>
  </div>
  <div class="form-options">
    <button type="submit" (click)="doJoin()">로그인</button>
  </div>
</form>