<router-outlet></router-outlet>

<!-- <form>
    <div class="input styled blue-set">
        <label>라벨1</label>
        <input type="text" (keyup.enter)="test($event)">
    </div>
    <div class="input styled blue-set">
        <textarea></textarea>
    </div>
    <div class="input styled dark-set">
        <label>라벨2</label>
        <input type="text" (keyup.enter)="test($event)">
    </div>
    <div class="input styled dark-set">
        <textarea></textarea>
    </div>
    <div class="card bg sky">aaa</div>
    <div class="card bg dark">aaa</div>
</form> -->