<section>
  <div class="wrap">
    <div class="search-bar">
      <app-search-total></app-search-total>
    </div>
  </div>
</section>
<section>
  <div class="wrap">
    <h2>A/S 접수 전 자가진단 안내</h2>
    <div>
      <app-fc-carousel></app-fc-carousel>
    </div>
  </div>
</section>
<section>
  <div class="wrap">
    <h2>A/S 접수</h2>
    <div>
      <app-fc-carousel></app-fc-carousel>
    </div>
  </div>
</section>