#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #575759;
    z-index: 800;
}
.title{
    float: left;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    margin: 1.78rem;
}
ul{
    list-style: none;
    margin: 1.78rem;
    padding: 0;
    float: right;
}
ul > li{
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem 1rem;
}
a,
a:hover,
a:visited,
a:link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
ul > li.rounded{
    border: 2px solid #fff;
    border-radius: 4px;
}