<div id="header">
  <div class="title">
    <a routerLink="/">
      사운드픽 AS/CS 관리자
    </a>
  </div>
  <ul *ngIf="sessionService._info">
    <li *ngIf="sessionService._info['is_logged_in']">
      <a [href]="apiURL + '/user/session/destroy'">로그아웃</a>
    </li>
    <li *ngIf="!sessionService._info['is_logged_in']">
      <a routerLink="/join">가입신청</a>
    </li>
    <li class="rounded" *ngIf="!sessionService._info['is_logged_in']">
      <a routerLink="/login">로그인</a>
    </li>
  </ul>
</div>