<div *ngIf="__viewmode.info">
  <div class="input with-label">
    <label>브랜드명</label>
    <input type="text" [(ngModel)]="__output.name" placeholder="좌측의 버튼을 통해 입력해주세요." disabled>
    <button class="icon" type="button" (click)="__viewmode.info=false;__viewmode.search=true;">
      <i class="fonti um-repeat" *ngIf="__output.id"></i>
      <i class="fonti um-search-alt" *ngIf="!__output.id"></i>
    </button>
  </div>
</div>

<div *ngIf="__viewmode.search">
  <div class="input with-label">
    <label>브랜드명</label>
    <input type="text" name="brandname" (keyup.enter)="getBrandInfoOfKeyword($event)">
  </div>
  <div class="input with-label">
    <label>브랜드 선택</label>
    <select name="brand" #selectedBrand>
      <option value="none">--- 검색결과({{searchedList.length}}건) ---</option>
      <ng-container *ngFor="let brand of searchedList; let idx = index;">
        <option [value]="idx">{{ brand.name }}</option>
      </ng-container>
    </select>
    <button class="icon" type="button" (click)="emitSearchedBrandInfo()">
      <i class="fonti um-check"></i>
    </button>
    <button class="icon" type="button" (click)="__viewmode.search=false;__viewmode.info=true;">
      <i class="fonti um-close"></i>
    </button>
  </div>
</div>