<div>
  <ul class="navigator">
    <li [ngClass]="{'active' : __viewmode == 1}" (click)="__viewmode = 1">
      <a>상세정보</a>
    </li>
  </ul>
  <div class="floating-menu btn-2">
    <a (click)="drawCommentInputForm()">
      <i class="fonti um-check-circle"></i>
    </a>
    <a (click)="closeInfoView()">
      <i class="fonti um-times-circle"></i>
    </a>
  </div>
</div>

<form *ngIf="__viewmode == 1">
  <ng-container *ngIf="__dispatchedInfo.brand">
    <app-select-brand [brand]="__dispatchedInfo.brand" (onBrandSelected)="onBrandSelected($event)"></app-select-brand>
  </ng-container>
  <ng-container *ngIf="!__dispatchedInfo.brand">
    <app-select-brand (onBrandSelected)="onBrandSelected($event)"></app-select-brand>
  </ng-container>
  <div>
    <div class="input with-label">
      <label>제품종류</label>
      <input type="text" name="lineup" [(ngModel)]="__dispatchedInfo.lineup">
    </div>
    <div class="input with-label">
      <label>제품명</label>
      <input type="text" name="name" [(ngModel)]="__dispatchedInfo.name">
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>기본보증기간(일)</label>
      <input type="number" placeholder="단위 : 일, day" name="warranty_day_length" [(ngModel)]="__dispatchedInfo.warranty_day_length">
    </div>
    <div class="input with-label">
      <label>정품관리여부</label>
      <select name="validation" [(ngModel)]="__dispatchedInfo.validation">
        <option [value]="false">정품등록제로 운영안함</option>
        <option [value]="true">정품등록제 운영</option>
      </select>
    </div>
  </div>
  <div>
    <div class="checkbox same-person-check">
      <input type="checkbox" (click)="setIsASTarget()" [checked]="__dispatchedInfo.option['is_as_target']">
      <span>이 상품을 A/S 관리대상으로 지정합니다.</span>
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>제품이미지</label>
      <ol class="image-list">
        <li *ngFor="let image of __dispatchedInfo.image; let idx = index">
          <figure>
            <img [src]="staticURL + '/product/' + image.image_filename">
            <figcaption>
              <span>{{image.image_size_width}}x{{image.image_size_height}}</span>
            </figcaption>
          </figure>
        </li>
        <li>
          <input type="file" #productImageFileInput multiple (change)="uploadImage($event)">
          <div class="add-files" (click)="productImageFileInput.click()">
            <i class="fonti um-plus-circle"></i>
            <span>추가하기</span>
          </div>
        </li>
      </ol>
    </div>
  </div>
</form>

<ng-template #askComment>
  <div id="ask-comment">
    <div class="bg"></div>
    <div class="form">
      <h4>변경사유 입력</h4>
      <div class="input-area">
        <ng-container>
          <textarea #submitComment></textarea>
        </ng-container>
        <div class="options">
          <button type="submit" (click)="submit()">접수</button>
          <button type="button" (click)="removeCommentInputForm()">취소</button>
        </div>
      </div>
      <div class="admin-info">
        <dl>
          <dt>담당자</dt>
          <dd>이가람</dd>
        </dl>
      </div>
    </div>
  </div>
</ng-template>