<div class="wrap">
  <div>
    <form>
      <h3>A/S관리</h3>
      <div>
        <div class="input with-label">
          <label>A/S증상 타입 설정</label>
          <select name="symptom_list" #symptomList>
            <ng-container *ngFor="let symptom of after_service.symptom_list;">
              <option [value]="symptom.value">{{symptom.value}}</option>
            </ng-container>
          </select>
          <button (click)="removeSymptom()">삭제</button>
        </div>
        <div class="input with-label">
          <label>A/S증상 추가</label>
          <input type="text" name="new_symptom" [(ngModel)]="after_service.new_symptom">
          <button type="button" (click)="addSymptom()">추가</button>
        </div>
      </div>
      <!-- <div>
        <div class="input with-label" style="width: calc(100% - 1rem);">
          <label>송장양식 엑셀파일 출력순서 설정</label>
          <div>
            <label>허용문자열</label>
            <p class="allow-invoice-columns">
              <ng-container *ngFor="let col of allowInvoiceColumns">
                <span>{{col}}</span>
              </ng-container>
            </p>
          </div>
          <input type="text" style="width: calc(100% - 6rem);" placeholder=",(콤마)로 구분" name="invoice_columns" [(ngModel)]="invoiceColumns">
          <button type="button" (click)="putInvoiceColumns()">수정</button>
        </div>
      </div> -->
    </form>
    <form>
      <h3>SMS발송설정</h3>
      <div class="input with-label">
        <label>송장번호 부여 시</label>
        <p>
          <span class="usable-variable" *ngFor="let keyword of sms.variableList['on_invoice_added']['allow_variable'];">
            {{'{' + keyword + '}'}}
          </span>
        </p>
        <textarea [(ngModel)]="sms.template.on_invoice_added" name="sms_on_invoice_added"></textarea>
        <div>
          <button (click)="updateAsCaseSmsTemplate('on_invoice_added')">수정</button>
        </div>
      </div>
      <div class="input with-label">
        <label>AS접수 시</label>
        <p>
          <span class="usable-variable" *ngFor="let keyword of sms.variableList['on_as_case_added']['allow_variable'];">
            {{'{' + keyword + '}'}}
          </span>
        </p>
        <textarea [(ngModel)]="sms.template.on_as_case_added" name="sms_on_as_case_added"></textarea>
        <div>
          <button (click)="updateAsCaseSmsTemplate('on_as_case_added')">수정</button>
        </div>
      </div>
    </form>
  </div>
</div>