.allow-invoice-columns > span:after{
    content : ', ';
}
.allow-invoice-columns > span:last-child:after{
    content: '';
}
span.usable-variable:after{
    content : ',';
}
span.usable-variable:last-of-type:after{
    content : '';
}