<div class="wrap">
  <div>
    <form novalidate>
      <div>
        <div class="input with-label">
          <label>처리상태</label>
          <select [(ngModel)]="searchCondition.is_expired" name="is_expired">
            <option [value]="false">보증적용대상</option>
            <option [value]="true">보증종료</option>
          </select>
        </div>
        <div class="input with-label">
          <label>등록기간</label>
          <input-date [(ngModel)]="searchCondition.from_date" [ngModelOptions]="{standalone:true}" placeholder="YYYYMMDD"></input-date>
          <span>부터 </span>
          <input-date [(ngModel)]="searchCondition.to_date" [ngModelOptions]="{standalone:true}" placeholder="YYYYMMDD"></input-date>
          <span>까지</span>
        </div>
        <div class="input with-label">
          <label>등록기간 간편선택</label>
          <button (click)="setReceptionPeriod(-7)">최근 7일</button>
          <button (click)="setReceptionPeriod(-365)">최근 365일</button>
          <button (click)="setReceptionPeriod(-1095)">최근 1095일</button>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>브랜드선택</label>
          <select [(ngModel)]="searchCondition.brand" name="brand" (change)="possessionService.getProduct($event.target.value)">
            <option value="">전체</option>
            <ng-container *ngFor="let brand of possessionService.brandList">
              <option [value]="brand.id">{{brand.name}}</option>
            </ng-container>
          </select>
        </div>
        <div class="input with-label">
          <label>제품선택</label>
          <app-checkbox-group [group]="possessionService.productList" [valueProp]="'id'" [labelProp]="'name'" (bindToFormControl)="searchCondition.product = $event"></app-checkbox-group>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>문자열 검색</label>
          <input class="keyword" type="text" [(ngModel)]="searchCondition.keyword" name="keyword">
          <button type="button" (click)="search()">검색</button>
        </div>
      </div>
    </form>
    <div class="splited-view-table-options">
      <app-splited-view-table [title]="SVTTitles" [data]="SVTRows" [columnWidth]="SVTColumnWidths" (actionOutput)="actionFromSVT($event)"
        (onCheckboxSwitchedActionOutput)="SVTSelectedIndexes = $event;"></app-splited-view-table>
      <app-pagination [contentLength]="searchResultCount" [atOnce]="30" (whenPageClicked)="searchCondition.page = $event; search()"></app-pagination>
    </div>
    <div class="splited-view-table-options">
      <button>엑셀로 저장</button>
    </div>
  </div>
</div>