.splited-view-table-wrap{
    margin: 1rem;
}
.splited-view-table-options{
    margin: 1rem;
}

.selected-work-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.selected-work-list > li{
    position: relative;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 2px solid #2699FB;
    background-color: #F1F9FF;
    color: #2699FB;
    font-size: 0.875rem;
}
.selected-work-list > li > p{
    margin: 0;
    padding: 0;
}
.selected-work-list > li > a.close{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}