<ng-container *ngIf="!isEditing">
  <div class="serial">
    <span *ngIf="__o.serial">{{__o.serial.serial}}</span>
    <span *ngIf="__o.serial">-</span>
  </div>
  <div class="product-name">
    <span>{{__o.product.brand.name}}</span>
    <span>{{__o.product.name}}</span>
  </div>
</ng-container>

<ng-container *ngIf="isEditing">
  <div class="serial">
    <input *ngIf="isSelected" (click)="isSelected = false;" name="serial" [(ngModel)]="__u.serial.serial" type="text" placeholder="(제품번호 입력 후 엔터)" readonly>
    <input *ngIf="!isSelected" type="text" (keyup.enter)="getProductInfoOfSerial($event)" placeholder="(제품번호 입력 후 엔터)">
  </div>
  <div class="product-name">
    <input *ngIf="isSelected" name="product_name" [(ngModel)]="__u.product.name" (click)="isSelected = false;" type="text" placeholder="(검색어 입력 후 엔터)" readonly>
    <input *ngIf="!isSelected" type="text" (keyup.enter)="getProductInfoOfKeyword($event)" placeholder="(검색어 입력 후 엔터)">
    <div #search class="keyword-search-result horizonal">
      <label>검색결과 >> </label>
      <ul>
        <li *ngFor="let product of searched_list; let i = index;">
          <a (click)="setProduct(i)">{{product.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</ng-container>



<!-- <div *ngIf="__viewmode.info" 
[ngClass]="{'form-valid' : __o.product.isValid()}">
  <div class="input with-label" *ngIf="__o.serial">
    <label>제품번호</label>
    <input type="text" [(ngModel)]="__o.serial.serial" placeholder="없음" disabled>
  </div>
  <div class="input with-label">
    <label>제품정보</label>
    <input type="text" [(ngModel)]="__o.product.lineup" placeholder="(제품종류)" disabled>
    <input type="text" [(ngModel)]="__o.product.name" placeholder="좌측의 버튼을 통해 입력해주세요" disabled>
    <button class="icon" type="button" (click)="__viewmode.info=false;__viewmode.search=true;">
      <i class="fonti um-repeat" *ngIf="__o.product.id"></i>
      <i class="fonti um-search-alt" *ngIf="!__o.product.id"></i>
    </button>
  </div>
</div>

<div *ngIf="__viewmode.search" class="info-search">
  <div class="input with-label" #productSearchBySerialView>
    <label>제품번호 검색</label>
    <input type="text" (keyup.enter)="getProductInfoOfSerial($event)" placeholder="(제품번호 입력 후 엔터)">
  </div>
  <div class="input with-label" #productSearchByKeywordView>
    <label>제품명으로 검색</label>
    <input type="text" (keyup.enter)="getProductInfoOfKeyword($event)" placeholder="(검색어 입력 후 엔터)">
  </div>
  <div class="input with-label" #productSelectView>
    <label>제품 선택</label>
    <select #selectedProduct>
      <option value="none">---검색결과({{searched_list.length}}건)---</option>
      <ng-container *ngFor="let product of searched_list; let i = index;">
        <option [value]="i">{{product.name}}</option>
      </ng-container>
    </select>
    <button class="icon" type="button" (click)="setProduct()">
      <i class="fonti um-check"></i>
    </button>
    <button class="icon" type="button" (click)="__viewmode.search=false;__viewmode.info=true;">
      <i class="fonti um-close"></i>
    </button>
  </div>
</div> -->