.exchange-product-header{
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #586069;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.fold-and-expand-options{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-align: right;
    padding-right: 1rem;
}
.fold-and-expand-options button{
    background-color: transparent;
    color: #2c3e50;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    min-width: initial;
}
.fold-and-expand-options button:hover{
    box-shadow: none;
    transition: none;
}

.image.with-label-col{
    position: relative;
    display: inline-block;
    margin: 0.1rem;
    width: 5rem;
    height: 5rem;
}
.image.with-label-col > figure{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0.1rem;
    padding: 0;
    border: 1px solid #2c3e50;
}
.image.with-label-col> figure > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.image.with-label-col > figure > figcaption{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.2rem;
    background-color: rgba(0,0,0,0.1);
    font-size: 0.8rem;
    padding: 0.3rem;
    text-align: center;
}