<ng-container *ngIf="!isEditing">
  <form class="ticket-style-form">
    <div class="flex row align-top">
      <div class="ticket-state flex col">
        <div>
          <span>{{__oExchange.option.adjustment_type}}</span>
        </div>
        <div class="valid">
          <span>제품교환</span>
        </div>
        <div></div>
      </div>
      <div class="ticket-body flex col">
        <app-select-product [isEditing]="false" [serial]="__uExchange['serial']" [product]="__uExchange['product']" (onProductSelected)="onProductSelected($event)"></app-select-product>
        <div>
          <dl>
            <dt>교환사유</dt>
            <dd>
              <div class="text" style="height:4rem;">{{__oExchange.option.comment}}</div>
            </dd>
          </dl>
        </div>
        <div>
          <dl class="inline w70p">
            <dt>주소</dt>
            <dd>
              <span>{{__oExchange.option.address}}</span>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>
              <span>우편번호</span>
            </dt>
            <dd>
              <span>{{__oExchange.option.address}}</span>
            </dd>
          </dl>
          <dl class="inline w70p">
            <dt>택배발송방법</dt>
            <dd>
              <span>{{__oExchange.option.delivery_method}}</span>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>운임가</dt>
            <dd>
              <span>{{__oExchange.option.invoice_price}}</span>
            </dd>
          </dl>
          <dl class="inline">
            <dt>택배사</dt>
            <dd>
              <span>{{__oExchange.option.dsc}}</span>
            </dd>
          </dl>
          <dl class="inline">
            <dt>송장번호</dt>
            <dd>
              <span>{{__oExchange.option.invoice}}</span>
            </dd>
          </dl>
          <dl class="inline">
            <dt>유상처리청구금액</dt>
            <dd>
              <span>{{__uExchange.option.adjustment_fee}}</span>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div>
      <div class="ticket-options">
        <button (click)="isEditing = true;">
          <i class="fonti um-repeat"></i>
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="isEditing">
  <form class="ticket-style-form">
    <div class="flex row align-top">
      <div class="ticket-state flex col">
        <div>
          <select name="execute_method" [(ngModel)]="__uExchange.option.adjustment_type">
            <option>무상</option>
            <option>유상</option>
          </select>
        </div>
        <div class="valid">
          <span>제품교환</span>
        </div>
        <div></div>
      </div>
      <div class="ticket-body flex col">
        <app-select-product [isEditing]="true" [serial]="__uExchange['serial']" [product]="__uExchange['product']" (onProductSelected)="onProductSelected($event)"></app-select-product>
        <div>
          <dl>
            <dt>교환사유</dt>
            <dd>
              <textarea style="height:4rem;" name="comment" placeholder="교환사유" [(ngModel)]="__uExchange.option.comment"></textarea>
            </dd>
          </dl>
        </div>
        <div>
          <dl class="inline w70p">
            <dt>주소</dt>
            <dd>
              <input type="text" name="address" [(ngModel)]="__uExchange.option.address">
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>
              <span>우편번호</span>
              <a (click)="getPostcode()">(자동입력)</a>
            </dt>
            <dd>
              <input type="text" name="postcode" [(ngModel)]="__uExchange.option.postcode">
            </dd>
          </dl>
          <dl class="inline w70p">
            <dt>택배발송방법</dt>
            <dd>
              <select name="delivery_method" [(ngModel)]="__uExchange.option.delivery_method">
                <option value="선불택배">선불택배</option>
                <option value="착불택배">착불택배</option>
                <option value="방문수령">방문수령</option>
              </select>
            </dd>
          </dl>
          <dl class="inline w30p">
            <dt>운임가</dt>
            <dd>
              <input type="number" name="invoice_price" [(ngModel)]="__uExchange.option.invoice_price">
            </dd>
          </dl>
          <dl class="inline">
            <dt>택배사</dt>
            <dd>
              <select name="dsc" [(ngModel)]="__uExchange.option.dsc">
                <option value="한진택배">한진택배</option>
              </select>
            </dd>
          </dl>
          <dl class="inline">
            <dt>송장번호</dt>
            <dd>
              <input type="text" name="invoice" [(ngModel)]="__uExchange.option.invoice">
            </dd>
          </dl>
          <dl class="inline">
            <dt>유상처리청구금액</dt>
            <dd>
              <input type="text" name="adjustment_fee" [(ngModel)]="__uExchange.option.adjustment_fee" placeholder="(원)">
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div>
      <div class="ticket-options">
        <button (click)="isEditing = false;">
          <i class="fonti um-repeat"></i>
        </button>
        <button (click)="update()" [disabled]="!isDiff()">
          <i class="fonti um-save"></i>
        </button>
        <button *ngIf="!__uExchange['id']" (click)="onExchangeLogRemoved.emit(__uExchange)">
          <i class="fonti um-trash"></i>
        </button>
      </div>
    </div>
  </form>
</ng-container>

<!-- <div class="exchange-product-header">
  <ng-container>
    <div class="image with-label-col">
      <ng-container *ngIf="__uExchange['product']">
        <figure *ngIf="__uExchange['product']['image'] && __uExchange['product']['image'].length > 0" class="thumbnail">
          <img [src]="staticURL + '/product/' + __uExchange['product']['image'][0]['image_filename']">
        </figure>
        <figure *ngIf="!__uExchange['product']['image'] || __uExchange['product']['image'].length == 0" class="thumbnail">
          <img src="/assets/images/no-image.jpg">
        </figure>
      </ng-container>
      <ng-container *ngIf="!__uExchange['product']">
        <figure class="thumbnail">
          <img src="/assets/images/no-image.jpg">
        </figure>
      </ng-container>
    </div>
    <app-select-product [serial]="__uExchange['serial']" [product]="__uExchange['product']" (onProductSelected)="onProductSelected($event)"></app-select-product>
  </ng-container>
  <div class="fold-and-expand-options">
    <button type="button" (click)="expandOrFold()">
      <i class="fonti um-angle-o-down" *ngIf="!isExpand"></i>
      <i class="fonti um-angle-o-up" *ngIf="isExpand"></i>
    </button>
  </div>
</div>
<div *ngIf="isExpand">
  <div>
    <div class="input with-label">
      <label>A/S처리타입</label>
      <div class="checkbox">
        <input type="radio" name="adjustment_type" [(ngModel)]="__uExchange.option.adjustment_type" value="free">
        <span>무상</span>
      </div>
      <div class="checkbox">
        <input type="radio" name="adjustment_type" [(ngModel)]="__uExchange.option.adjustment_type" value="paid">
        <span>유상</span>
      </div>
    </div>
    <div class="input with-label">
      <label>유상처리 청구금액</label>
      <input type="number" name="adjustment_fee" [(ngModel)]="__uExchange.option.adjustment_fee" placeholder="(원)">
    </div>
  </div>
  <div>
    <div class="input with-label">
      <label>교환사유</label>
      <textarea [(ngModel)]="__uExchange.option.comment"></textarea>
    </div>
  </div>
  <div class="state-options">
    <button type="button" (click)="onExchangeLogUpdated.emit(__uExchange)" [disabled]="!isDiff()">
      <i class="fonti um-save"></i>
      <span>변경정보저장</span>
    </button>
    <button type="button" *ngIf="!__uExchange['id']" (click)="onExchangeLogRemoved.emit(__uExchange)">
      <i class="fonti um-undo"></i>
      <span>입력취소</span>
    </button>
  </div>
</div> -->