<div class="wrap">
  <div>
    <form>
      <div>
        <div class="input with-label">
          <label>처리상태</label>
          <select name="is_expired" [(ngModel)]="searchCondition.is_expired">
            <option value="처리중">처리중</option>
            <option value="처리완료">처리완료</option>
          </select>
        </div>
        <div class="input with-label">
          <label>접수기간</label>
          <input-date [(ngModel)]="searchCondition.from_date" [ngModelOptions]="{standalone: true}" placeholder="YYYYMMDD"></input-date>
          <span>부터 </span>
          <input-date [(ngModel)]="searchCondition.to_date" [ngModelOptions]="{standalone: true}" placeholder="YYYYMMDD"></input-date>
          <span>까지</span>
        </div>
        <div class="input with-label">
          <label>접수기간 간편선택</label>
          <button type="button" (click)="setReceptionPeriod(-7)">최근 7일</button>
          <button type="button" (click)="setReceptionPeriod(-30)">최근 30일</button>
          <button type="button" (click)="setReceptionPeriod(-90)">최근 90일</button>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>브랜드선택</label>
          <select [(ngModel)]="searchCondition.brand" name="brand" (change)="asService.getASTargetProduct($event.target.value)">
            <option value="">전체</option>
            <ng-container *ngFor="let brand of asService.brandList">
              <option [value]="brand.id">{{brand.name}}</option>
            </ng-container>
          </select>
        </div>
        <div class="input with-label">
          <label>제품선택</label>
          <app-checkbox-group [group]="asService.productList" [valueProp]="'id'" [labelProp]="'name'" (bindToFormControl)="searchCondition.product = $event"></app-checkbox-group>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>증상별</label>
          <app-checkbox-group [group]="asService.symptomList" [valueProp]="'value'" [labelProp]="'value'" (bindToFormControl)="searchCondition.symptom = $event"></app-checkbox-group>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>문자열 검색</label>
          <input class="keyword" type="text" name="keyword" [(ngModel)]="searchCondition.keyword">
          <button type="submit" (click)="search()">검색</button>
        </div>
      </div>
    </form>
    <div class="splited-view-table-wrap">
      <app-splited-view-table [title]="SVTTitles" [data]="SVTRows" [columnWidth]="SVTColumnWidths" (actionOutput)="actionFromSVT($event)"
        (onCheckboxSwitchedActionOutput)="SVTSelectedIndexes = $event;"></app-splited-view-table>
      <app-pagination [contentLength]="searchResultCount" [atOnce]="30" (whenPageClicked)="searchCondition.page = $event; search()"></app-pagination>
    </div>
    <div class="splited-view-table-options">
      <button class="red" type="button" (click)="showInfo()">신규접수</button>
      <!-- <button type="button">엑셀로 저장</button> -->
      <button class="red" type="button" (click)="exportInvoice()">송장양식으로 저장</button>
      <!-- <button type="button">내역서생성</button> -->
    </div>
  </div>
  <ng-template #InfoContainer></ng-template>
</div>
