<aside>
  <ul *ngIf="sessionService._info">
    <li routerLink="/">
      <a>DASHBOARD</a>
    </li>
    <li routerLink="/as" routerLinkActive="active">
      <a>A/S관리</a>
    </li>
    <li routerLink="/goods" routerLinkActive="active">
      <a>제품관리</a>
    </li>
    <li routerLink="/validation" routerLinkActive="active">
      <a>제품번호관리</a>
    </li>
    <li routerLink="/possession" routerLinkActive="active">
      <a>정품등록관리</a>
    </li>
    <!-- <li routerLink="/cs">
      <a>C/S관리</a>
    </li> -->
    <li routerLink="/config" routerLinkActive="active">
      <a>설정</a>
    </li>
    <li routerLink="/super_admin" routerLinkActive="active">
      <a>사용자관리</a>
    </li>
    <li routerLink="/admin_group" routerLinkActive="active">
      <a>그룹관리</a>
    </li>
  </ul>
</aside>