aside{
    position: fixed;
    top: 6rem;
    left: 0;
    height: 100%;
    width: 14rem;
    background-color: #575759;
    z-index: 800;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul > li{
    display: block;
    margin: 0;
    padding: 1rem;
}
ul > li.active{
    background-color: #fff;
    color: #575759;
}
ul > li.active a{
    color: #575759;
}
a,
a:hover,
a:visited,
a:link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}