:host >>> *{
    -webkit-user-drag: none;
    user-select: none;
}
:host >>> input,
:host >>> textarea,
:host >>> p,
:host >>> strong,
:host >>> span{
    user-select: text;
}
:host > div{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
:host > div > ol{
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    transition: 0.5s;
    left: 0;
}
:host > div > ol > li{
    list-style: none;
    display: inline-block;
    padding: 1px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
:host > div .carousel-options{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}
:host > div .carousel-options .arrow{
    position: absolute;
    top: -1.75rem;
    color: #999;
    opacity: .5;
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: 0.375s;
}
:host > div .carousel-options .arrow:hover{
    opacity: 1;
    transition: 0.375s;
}
:host > div .carousel-options .prev{
    left: 2%;
}
:host > div .carousel-options .next{
    right: 2%;
}