<div>
  <ol #contentBox>
    <li #content>
      <div class="card bg sky">1</div>
    </li>
    <li #content>
      <div class="card bg dark">1</div>
    </li>
  </ol>
  <div class="carousel-options">
    <a class="arrow prev" (click)="onArrowClicked('prev')">
      <i class="fonti um-angle-o-left"></i>
    </a>
    <a class="arrow next" (click)="onArrowClicked('next')">
      <i class="fonti um-angle-o-right"></i>
    </a>
  </div>
</div>