<div id="search" [ngClass]="{opened : state.isFocused}">
  <form>
    <div>
      <div class="input styled blue-set">
        <label class="transition-label">찾고자하는 브랜드 또는 제품명 입력</label>
        <input type="text" placeholder="찾아보기" (keyup.enter)="test($event)" (focus)="onFocus($event)">
      </div>
    </div>
    <div class="right fixed" *ngIf="state.isFocused">
      <a (click)="state.isFocused = false;">
        <i class="fonti um-close"></i>
      </a>
    </div>
  </form>
  <div id="result">
    <ul *ngIf="result_list.length > 0">
      <li>
        <div></div>
      </li>
      <li>
        <div></div>
      </li>
      <li>
        <div></div>
      </li>
    </ul>
    <div class="no-result" *ngIf="result_list.length === 0">
      <strong>검색결과가 없습니다.</strong>
    </div>
  </div>
</div>