#search{
    position: relative;
    padding: 1px;
    margin: 0;
    width: 100%;
    height: 100%;
}
#search.opened{
    position: fixed;
    top: 0;
    left: 50%;
    transform : translateX(-50%);
    width: 100%;
    z-index: 600;
    background-color: #fff;
    /* transition: 0.375s; */
}
#search .right.fixed{
    display: none;
    opacity: 0;
    transition: 0.375s;
}
#search form{
    position: relative;
    display: block;
    max-width: 640px;
    margin: 0 auto;
}
#search.opened .right.fixed{
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 2rem;
    opacity: 1;
    transition: 0.375s;
    z-index: 650;
}
.input{
    width: 100%;
}
#search .input input{
    width: 100%;
    transition: 0.375s;
}
#search.opened .input input{
    width: 100%;
    transition: 0.375s;
}
#search .transition-label{
    opacity: 0;
    transition: 0.375s;
}
#search.opened .transition-label{
    opacity: 1;
    transition: 0.375s;
}

#search #result{
    display: none;
}
#search.opened #result{
    display: block;
}
#search #result .no-result{
    padding: 5rem 0;
    text-align: center;
}
#search #result .no-result strong{
    font-weight: 300;
    color: #283339;
}