<ng-container *ngIf="!isEditing">
  <div>
    <dl class="inline w25p">
      <dt>고객번호</dt>
      <dd>
        <span>{{__oCustomer.id}}</span>
      </dd>
    </dl>
    <dl class="inline w25p">
      <dt>이름</dt>
      <dd>
        <span>{{__oCustomer.name}}</span>
      </dd>
    </dl>
    <dl class="inline w25p">
      <dt>연락처1</dt>
      <dd>
        <span>{{__oCustomer.phone1}}</span>
      </dd>
    </dl>
    <dl class="inline w25p">
      <dt>연락처2</dt>
      <dd>
        <span>{{__oCustomer.phone2}}</span>
      </dd>
    </dl>
  </div>
</ng-container>
<ng-container *ngIf="isEditing">
  <div>
    <dl class="inline w25p">
      <dt>고객번호</dt>
      <dd>
        <span>{{__uCustomer.id}}</span>
      </dd>
    </dl>
    <dl class="inline w25p">
      <dt>이름</dt>
      <dd>
        <input *ngIf="isSelected" (click)="isSelected = false;" [(ngModel)]="__uCustomer.name" type="text" placeholder="이름을 통해 검색" readonly>
        <input *ngIf="!isSelected" type="text" placeholder="이름을 통해 검색" (keyup.enter)="getCustomerInfoOfKeyword($event)">
      </dd>
    </dl>
    <dl class="inline w25p">
      <dt>연락처1</dt>
      <dd>
        <input *ngIf="isSelected" (click)="isSelected = false;" [(ngModel)]="__uCustomer.phone1" type="text" placeholder="연락처를 통해 검색" pattern="[0-9]*" readonly>
        <input *ngIf="!isSelected" type="text" placeholder="연락처를 통해 검색" (keyup.enter)="getCustomerInfoOfKeyword($event)" pattern="[0-9]*">
      </dd>
    </dl>
    <dl class="inline w25p">
      <dt>연락처2</dt>
      <dd>
        <input *ngIf="isSelected" [(ngModel)]="__uCustomer.phone2" type="text" placeholder="(선택)" readonly>
        <input *ngIf="!isSelected" type="text" placeholder="(선택)">
      </dd>
    </dl>
  </div>
  <div #search class="keyword-search-result vertical">
    <div class="search-result-options">
      <a (click)="search.style.display = 'none';">
        닫기
      </a>
    </div>
    <ul>
      <ng-container *ngFor="let customer of searched_list; let i = index;">
        <li (click)="emitSearchedCustomerInfo(i)">
          <dl class="inline w25p">
            <dt>고객번호</dt>
            <dd>
              <span>{{customer.id}}</span>
            </dd>
          </dl>
          <dl class="inline w25p">
            <dt>이름</dt>
            <dd>
              <span>{{customer.name}}</span>
            </dd>
          </dl>
          <dl class="inline w25p">
            <dt>연락처1</dt>
            <dd>
              <span>{{customer.phone1}}</span>
            </dd>
          </dl>
          <dl class="inline w25p">
            <dt>연락처2</dt>
            <dd>
              <span>{{customer.phone2}}</span>
            </dd>
          </dl>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-container>


<!-- <div *ngIf="__viewmode.info" 
[ngClass]="{'form-valid' : __oCustomer && __oCustomer.isValid(['id', 'phone2', 'reg_date'])}">
<div class="input with-label">
  <label>고객할당번호</label>
  <input type="number" class="id" [(ngModel)]="__oCustomer.id" placeholder="(미할당)" disabled>
</div>
  <div class="input with-label">
    <label>고객명</label>
    <input type="text" [(ngModel)]="__oCustomer.name" placeholder="(필수)" disabled>
  </div>
  <div class="input with-label">
    <label>대표연락처</label>
    <input type="text" [(ngModel)]="__oCustomer.phone1" placeholder="(필수)" disabled>
  </div>
  <div class="input with-label">
    <label>연락처2</label>
    <input type="text" [(ngModel)]="__oCustomer.phone2" pattern="[0-9]*" placeholder="(선택)" disabled>
    <button class="icon" type="button" (click)="__viewmode.info=false;__viewmode.search=true">
      <i class="fonti um-repeat" *ngIf="__oCustomer.id"></i>
      <i class="fonti um-search-alt" *ngIf="!__oCustomer.id"></i>
    </button>
  </div>
</div>

<div *ngIf="__viewmode.search" class="info-search">
  <ng-container>
    <div class="input with-label">
      <label>이름 검색</label>
      <input #searchNameInput type="text" (keyup.enter)="getCustomerInfoOfKeyword($event)" placeholder="(검색어 입력 후 엔터)">
    </div>
    <div class="input with-label">
      <label>연락처 검색</label>
      <input #searchPhone1Input type="text" (keyup.enter)="getCustomerInfoOfKeyword($event)" pattern="[0-9]*" placeholder="(검색어 입력 후 엔터)">
    </div>
    <div class="input with-label">
      <label>고객정보 선택</label>
      <select #selectedCustomer>
        <option value="none">---검색결과({{searched_list.length}}건)---</option>
        <ng-container *ngFor="let customer of searched_list; let i = index;">
          <option [value]="i">{{customer.name}} / {{customer.phone1}} / {{customer.phone2}}</option>
        </ng-container>
      </select>
      <button class="icon" type="button" (click)="emitSearchedCustomerInfo()">
        <i class="fonti um-check"></i>
      </button>
      <button class="icon" type="button" (click)="__viewmode.search=false;__viewmode.add=true;">
        <i class="fonti um-user-plus"></i>
      </button>
      <button class="icon" type="button" (click)="__viewmode.search=false;__viewmode.info=true;">
        <i class="fonti um-close"></i>
      </button>
    </div>
  </ng-container>
</div>

<div *ngIf="__viewmode.add" class="info-search">
  <ng-container>
    <div class="input with-label">
      <label>이름</label>
      <input #addNameInput type="text">
    </div>
    <div class="input with-label">
      <label>대표연락처</label>
      <input #addPhone1Input type="text" pattern="[0-9]*">
    </div>
    <div class="input with-label">
      <label>보조연락처</label>
      <input #addPhone2Input type="text" pattern="[0-9]*">
      <button class="icon" type="button" (click)="emitAddedCustomerInfo()">
        <i class="fonti um-save"></i>
      </button>
      <button class="icon" type="button" (click)="__viewmode.add=false;__viewmode.info=true;">
        <i class="fonti um-close"></i>
      </button>
    </div>
  </ng-container>
</div> -->