<ng-container *ngIf="!isEditing">
  <form class="ticket-style-form">
    <div class="flex row">
      <div class="ticket-state flex col">
        <div>
          <span>제품분류</span>
        </div>
        <div class="valid">
          <span>보증상태</span>
        </div>
        <div>
          <a>보증서/구매내역보기</a>
        </div>
      </div>
      <div class="ticket-body">

        <app-select-product [isEditing]="false" [serial]="__oPossession.exchange_log[0].serial" [product]="__oPossession.exchange_log[0].product"></app-select-product>
        <app-select-customer [isEditing]="false" [customer]="__oPossession.firstCustomer" (onCustomerSelected)="__oPossession.firstCustomer = $event"></app-select-customer>

      </div>
      <div class="ticket-footer">
        <dl>
          <dt>구매일</dt>
          <dd>
            <span>{{formAssistantService.convertPyDatetime(__oPossession.purchase_date, 'string')}}</span>
          </dd>
        </dl>
        <dl>
          <dt>보증종료일</dt>
          <dd>
            <span>{{formAssistantService.convertPyDatetime(__oPossession.warranty_expired_date, 'string')}}</span>
          </dd>
        </dl>
      </div>
    </div>
    <div class="flex row">
      <div class="ticket-options">
        <button (click)="isEditing = true;">
          <i class="fonti um-repeat"></i>
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="isEditing">
  <form class="ticket-style-form">
    <div class="flex row">
      <div class="ticket-state flex col">
        <div>
          <span>제품분류</span>
        </div>
        <div class="expired">
          <span>보증상태</span>
        </div>
        <div>
          <a>보증서/구매내역 업로드</a>
        </div>
      </div>
      <div class="ticket-body">
        <app-select-product [isEditing]="true" [serial]="__uPossession.exchange_log[0].serial" [product]="__uPossession.exchange_log[0].product" (onProductSelected)="onProductSelected($event)"></app-select-product>
        <app-select-customer [isEditing]="true" [customer]="__oPossession.firstCustomer" (onCustomerSelected)="__oPossession.firstCustomer = $event"></app-select-customer>
      </div>
      <div class="ticket-footer">
        <dl>
          <dt>구매일</dt>
          <dd>
            <input-date [(ngModel)]="__oPossession.purchase_date" placeholder="YYYYMMDD(필수)" name="purchase_date"></input-date>
          </dd>
        </dl>
        <dl>
          <dt>보증종료일</dt>
          <dd>
            <input-date [(ngModel)]="__oPossession.warranty_expired_date" placeholder="YYYYMMDD(필수)" name="warranty_expired_date"></input-date>
          </dd>
        </dl>
      </div>
    </div>
    <div class="flex row">
      <div class="ticket-options">
        <button>
          <i class="fonti um-repeat"></i>
        </button>
        <button>
          <i class="fonti um-save"></i>
        </button>
        <button (click)="isEditing = false;">
          <i class="fonti um-close"></i>
        </button>
      </div>
    </div>
  </form>
</ng-container>


<!-- <ng-container *ngIf="__viewmode.info">
  <app-select-product [serial]="__oPossession.exchange_log[0].serial" [product]="__oPossession.exchange_log[0].product"></app-select-product>
  <div [ngClass]="{'form-valid' : __oPossession.isValid(['id', 'proof_image_filename', 'reg_date', 'exchange_log', 'as_case'])}">
    <div class="input with-label">
      <label>구매일</label>
      <input-date [(ngModel)]="__oPossession.purchase_date" placeholder="YYYYMMDD(필수)" disabled></input-date>
    </div>
    <div class="input with-label">
      <label>보증종료일</label>
      <input-date [(ngModel)]="__oPossession.warranty_expired_date" placeholder="YYYYMMDD(필수)" disabled></input-date>
    </div>
    <div class="input with-label">
      <label>구매증빙</label>
      <button type="button" [disabled]="!__oPossession.proof_image_filename">
        <span *ngIf="__oPossession.proof_image_filename">보기</span>
        <span *ngIf="!__oPossession.proof_image_filename">(없음)</span>
      </button>
      <button type="button" class="icon" (click)="__viewmode.info=false;__viewmode.search=true;">
        <i class="fonti um-repeat"></i>
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="__viewmode.search" class="info-search">
  <div>
    <div class="input with-label">
      <label>구매증빙정보 선택</label>
      <select #possessionSelectView>
        <option *ngIf="searched_list.length > 0" value="none">--- 검색결과 ({{searched_list.length}}건) ---</option>
        <ng-container *ngFor="let poss of searched_list; let idx = index">
          <option [value]="idx">구매일 : {{ formAssistantService.convertPyDatetime(poss.purchase_date, 'string') }} / {{ poss.exchange_log[0].product.name
            }}
          </option>
        </ng-container>
        <option *ngIf="searched_list.length == 0" value="none">검색결과가 없습니다.</option>
      </select>
      <button type="button" (click)="emitSearchedPossessionInfo()">
        보증정보 확정
      </button>
      <button type="button" class="icon" (click)="__viewmode.search=false;__viewmode.add=true;">
        <i class="fonti um-file-plus-o"></i>
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="__viewmode.add" class="info-search">
  <div>
    <app-select-product [serial]="__uPossession.exchange_log[0].serial" [product]="__uPossession.exchange_log[0].product" (onProductSelected)="onProductSelected($event)"></app-select-product>
  </div>
  <div *ngIf="__uPossession.exchange_log[0].product">
    <div class="input with-label">
      <label>구매일</label>
      <input-date [(ngModel)]="__uPossession.purchase_date" placeholder="YYYYMMDD(필수)"></input-date>
    </div>
    <div class="input with-label">
      <label>보증종료일</label>
      <input-date [(ngModel)]="__uPossession.warranty_expired_date" placeholder="YYYYMMDD(필수)"></input-date>
      <button type="button" (click)="calculateWarrantyEndDate()">보증종료일 자동산정</button>
    </div>
    <div class="input with-label">
      <label>구매증빙</label>
      <button type="button" [disabled]="!__uPossession.proof_image_filename" (click)="showProofImage()">
        <span *ngIf="__uPossession.proof_image_filename">보기</span>
        <span *ngIf="!__uPossession.proof_image_filename">(없음)</span>
      </button>
      <input type="file" #receiptFileInput (change)="proofReceiptImageFileUpload($event)">
      <button type="button" (click)="receiptFileInput.click()">파일업로드</button>
    </div>
    <div class="state-options">
      <button type="button" (click)="emitAddedPossessionInfo()">
        <i class="fonti um-save"></i>
        <span>보증정보 확정</span>
      </button>
      <button type="button" (click)="__viewmode.add=false;__viewmode.info=true;">
        <i class="fonti um-undo"></i>
        <span>취소</span>
      </button>
    </div>
  </div>
</ng-container> -->