<div class="wrap">
  <div>
    <form novalidate>
      <div>
        <div class="input with-label">
          <label>등록기간</label>
          <input-date [(ngModel)]="searchCondition.from_date" [ngModelOptions]="{standalone: true}" placeholder="YYYYMMDD"></input-date>
          <span>부터 </span>
          <input-date [(ngModel)]="searchCondition.to_date" [ngModelOptions]="{standalone: true}" placeholder="YYYYMMDD"></input-date>
          <span>까지</span>
        </div>
        <div class="input with-label">
          <label>등록기간 간편선택</label>
          <button (click)="setReceptionPeriod(-7)">최근 7일</button>
          <button (click)="setReceptionPeriod(-30)">최근 30일</button>
          <button (click)="setReceptionPeriod(-90)">최근 90일</button>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>브랜드선택</label>
          <select [(ngModel)]="searchCondition.brand" name="brand" (change)="validationService.getValidationTargetProduct($event.target.value)">
            <option value="none">전체</option>
            <ng-container *ngFor="let brand of validationService.brandList">
              <option [value]="brand.id">{{brand.name}}</option>
            </ng-container>
          </select>
        </div>
        <div class="input with-label">
          <label>제품선택</label>
          <app-checkbox-group [group]="validationService.productList" [valueProp]="'id'" [labelProp]="'name'" (bindToFormControl)="searchCondition.product = $event"></app-checkbox-group>
        </div>
      </div>
      <div>
        <div class="input with-label">
          <label>문자열 검색</label>
          <input class="keyword" type="text" name="keyword" [(ngModel)]="searchCondition.keyword">
          <button type="submit" (click)="getSerialList()">검색</button>
        </div>
      </div>
    </form>
    <div class="splited-view-table-options">
      <app-splited-view-table [title]="SVTTitles" [data]="SVTRows" [columnWidth]="SVTColumnWidths" (actionOutput)="actionFromSVT($event)"></app-splited-view-table>
      <app-pagination [contentLength]="searchResultCount" [atOnce]="30" (whenPageClicked)="searchCondition.page = $event; getSerialList()"></app-pagination>
    </div>
    <div class="splited-view-table-options">
      <button type="button" (click)="showUploadSerialForm()">새로운 제품번호 생성</button>
      <button type="button">엑셀로 저장</button>
    </div>
  </div>
  <ng-template #uploadSerialAndSerialInfoContainer></ng-template>
</div>