/* You can add global styles to this file, and also import other style files */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
html{
    min-height: 100%;
    font-size: 16px;
}
body{
    min-width: 1280px;
    height: 100%;
    padding-top: 6rem;
    padding-left: 14rem;
}
form{
    display: block;
    margin: 1rem 1rem 1rem 1rem;
    width: calc(100% - 2rem);
    border: 2px solid #2c3e50;
    border-radius: 4px;
    padding: 0.5rem;
}
form h2{
    font-size: 1rem;
    color: #2c3e50;
    margin: 0.5rem;
}
form h3{
    font-size: 0.875rem;
    color: #2c3e50;
    margin: 0.5rem;
}
form h4{
    font-size: 0.875rem;
    color: #2c3e50;
    margin: 0.5rem;
}
select{
    border:1px solid #2c3e50;
    min-width: 10rem;
    height: 2.6rem;
    font-size: 0.875rem;
    background-color: transparent;
    border-radius: 0;
    color: #2c3e50;
}
input[type=file]{
    width: 0;
    height: 0;
    opacity: 0;
}
input[type=text],
input[type=number],
input[type=password]
{
    border:1px solid #2c3e50;
    width: 15rem;
    height: 2.6rem;
    font-size: 0.875rem;
    color: #2c3e50;
    padding-left: 0.675rem;
}
input[type=checkbox]{
    border:1px solid #2c3e50;
    height: initial;
    font-size: 1rem;
    color: #2c3e50;
}
textarea{
    border:1px solid #2c3e50;
    color: #2c3e50;
    min-width: 30.75rem;
    height: 6.6625rem;
    padding: 0.675rem;
    font-size: 0.8rem;
}
button{
    background-color: #418bca;
    border-radius: 0.3rem;
    border: none;
    color: #fff;
    box-shadow: transparent, transparent inset;
    height: 2.6rem;
    min-width: 5rem;
    font-size: 0.875rem;
    padding: 0.85rem;
    margin: 0 0.5rem 0 0;
    text-align: center;
}
button.red{
    background-color: #f18987;
}
button.orange{
    background-color: #eba95f;
}
button.icon{
    width: 2.6rem;
    min-width: 2.6rem;
}
button[disabled]{
    opacity: 0.3;
}
button:hover{
    transition: 0.375s;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}
input.ng-invalid,
textarea.ng-invalid{
    border: 1px solid red;
}
.input{
    display: inline-block;
    vertical-align: bottom;
    margin: 0.5rem 0.5rem 0.5rem 0;
    color: #2c3e50;
}
.input *{
    vertical-align: bottom;
}
.input:first-of-type{
    margin:0.5rem;
}
.input.with-label{
}
.input.with-label label{
    display: block;
    color: #2c3e50;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.checkbox{
    display: inline-block;
    margin: 0.8rem 0.5rem 0.7rem 0;
    vertical-align: bottom;
}
.checkbox *{
    vertical-align: middle;
}
.checkbox > span{
    color: #2c3e50;
}
input.keyword{
    min-width: 25rem;
}
input.wide{
    width: 30.75rem;
}
input.date{
    width: 7rem;
    text-align: center;
    padding-right: 0.675rem;
}
input.id{
    width: 7rem;
    text-align: right;
}
input:disabled{
    border: none;
    border-bottom: 1px solid #2565d0;
    color: #2565d0;
}
input[type=number]:disabled{
    padding-right: 0.675rem;
}
input[type=number]:disabled::-webkit-inner-spin-button, 
input[type=number]:disabled::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.form-options{
    width: calc(100% - 2rem);
    margin: 0 1rem 1rem 1rem;
    text-align: right;
}
.floating-menu{
    position: absolute;
    left: calc(100% - 2rem - 2rem);
    top: 0;
    font-size: 1.6rem;
    color: #2c3e50;
}
.floating-menu.btn-2{
    left: calc(100% - 2rem - 2rem - 2rem);
}
.floating-menu a{
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-valid{
    background-color: #efffec;
}
.info-search{
    background-color: #fde8e8;
}
p.alert{
    display: block;
    text-align: center;
    background-color: #F77A73;
    color: white;
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
}


#ask-comment{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
}
#ask-comment .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}
#ask-comment .form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 320px;
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#ask-comment .form > h4{
    margin: 0.5rem;
    font-weight: 500;
    font-size: 1.7rem;
    color: #2563BD;
}
#ask-comment .form .input-area{
    padding: 0.5rem;
    overflow: hidden;
}
#ask-comment .form .input-area textarea{
    float: left;
    width: calc(100% - 6rem);
    height: 13rem;
}
#ask-comment .form .input-area .options{
    float: left;
    width: 6rem;
    height: 9rem;
    padding: 0 0.5rem;
}
#ask-comment .form .input-area .options button{
    margin-bottom: 0.5rem;
}
#ask-comment .admin-info{
    color: #888;
}
#ask-comment .admin-info dl{
    margin: .5rem;
    padding: 0;
}
#ask-comment .admin-info dt{
    display: inline;
}
#ask-comment .admin-info dd{
    display: inline;
    font-weight: 500;
}
.navigator{
    position: relative;
    display: block;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    padding: 0;
    padding-left: 1rem;
    overflow: hidden;
}
.navigator > li{
    float: left;
    display: block;
    border-top: 2px solid #2c3e50;
    border-left: 2px solid #2c3e50;
    border-right: 2px solid #2c3e50;
    border-radius: 0 1.5rem 0 0;
    margin: 0;
    margin-right: -2px;
    margin-top: 0.4rem;
    padding: 0.5rem 1rem;
    transition: 0.375s;
    min-width: 7rem;
}
.navigator > li.active{
    background-color: #2c3e50;
    color: #fff;
    padding: 0.7rem 1rem;
    margin-top: 0;
    transition: 0.375s;
}

.ticket-style-form{
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    padding: 0;
}
.ticket-style-form > div{

}
.ticket-style-form > div:nth-child(1){
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #fff !important;
}
.ticket-style-form > div:last-child{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f3f8fb;
}
.ticket-style-form .flex{
    display: flex;
}
.ticket-style-form .flex.row{
    flex-direction: row;
    align-items: center;
}
.ticket-style-form .flex.row.align-top{
    align-items: flex-start;
}
.ticket-style-form .flex.col{
    flex-direction: column;
}
.ticket-style-form .ticket-state{
    width: 150px;
}
.ticket-style-form .ticket-state > div:first-child{
    padding: 0.5rem;
    padding-top: 2rem;
    vertical-align: text-bottom;
    text-align: center;
    position: relative;
}
.ticket-style-form .ticket-state > div:first-child > span{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0.5rem;
}
.ticket-style-form .ticket-state > div:nth-child(2){
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
}
.ticket-style-form .ticket-state > div:nth-child(2).expired{
    background-color: #f79a03;
}
.ticket-style-form .ticket-state > div:nth-child(2).valid{
    background-color: #2765cc;
}
.ticket-style-form .ticket-state > div:nth-child(3){
    text-align: center;
    font-size: 12px;
    padding: 0.5rem;
}
.ticket-style-form .ticket-state > div:nth-child(3) a,
.ticket-style-form .ticket-state > div:nth-child(3) a:hover,
.ticket-style-form .ticket-state > div:nth-child(3) a:visited,
.ticket-style-form .ticket-state > div:nth-child(3) a:link
{
    text-decoration: underline;
}
.ticket-style-form .ticket-body{
    width: calc(100% - 300px); /* 150px * 2*/
}
.ticket-style-form .ticket-body .serial{
    font-size: 1.2rem;
    margin: 1rem 1rem 0.5rem 1rem;
}
.ticket-style-form .ticket-body .product-name{
    margin: 0 1rem 0.5rem 1rem;
}
.ticket-style-form .ticket-body > div:nth-child(3),
.ticket-style-form .ticket-body > div:nth-child(4)
{
    margin: 0 1rem 0.5rem 1rem;
}
.ticket-style-form .ticket-footer{
    width: 150px;
}
.ticket-style-form .ticket-options{
    text-align: right;
}
.ticket-style-form .ticket-options button{
    background-color: transparent;
    margin: 5px;
    padding: 0.425rem;
    background-color: #fff;
    color: #666;
    font-size: 1.35rem;
    height: 2.2rem;
    width: 2.2rem;
    min-width: inherit;
    border-radius: 1.1rem;
    text-align: center;
    vertical-align: top;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.ticket-style-form .ticket-options button i{
    display: inline-block;
    vertical-align: top;
}
.ticket-style-form dl{
    margin: 0.25rem;
    padding: 0.25rem;
    font-size: 400;
}
.ticket-style-form select{
    height: initial;
    max-width: 100%;
    min-width: auto;
}
.ticket-style-form dl.inline{
    display: inline-block;
    width: calc(50% - 1rem);
    vertical-align: text-top;
}
.ticket-style-form dl.inline.w70p{
    width: calc(67% - 0.6rem);
}
.ticket-style-form dl.inline.w30p{
    width: calc(33% - 0.6rem);
}
.ticket-style-form dl.inline.w25p{
    width: calc(25% - 0.7rem);
}
.ticket-style-form dl dt{
    margin: 0;
    margin-bottom: 0.2rem;
    padding: 0;
    color: #666;
    font-size: 0.875rem;
}
.ticket-style-form dl dt a,
.ticket-style-form dl dt a:hover,
.ticket-style-form dl dt a:visited,
.ticket-style-form dl dt a:link
{
    font-size: 0.875rem;
    margin-left: 0.2rem;
    text-decoration: underline;
}
.ticket-style-form dl dd{
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 1.15rem;
}
.ticket-style-form dl dd > span{
    min-height: 1.6875rem;
    border-bottom: 1px solid #c7d0cc;
    width: 100%;
    display: inline-block;
}
.ticket-style-form > div:last-child:not(:first-child) > div{
    border-right: 1px solid #c7d0cc;
    width: calc((100% - 150px) / 4);
}
.ticket-style-form > div:last-child > div:last-child{
    border-right: none;
    width: 100%;
}
.ticket-style-form input{
    border: none;
    border-bottom: 1px solid #c7d0cc;
    font-size: inherit;
    height: inherit;
    width: inherit;
    background-color: transparent;
    max-width: calc(100% - 0.5rem);
    transition: 0.375s;
}
.ticket-style-form input:focus{
    outline: none;
    border-bottom: 1px solid #888;
    transition: 0.375s;
}
.ticket-style-form input.date{
    width: 8.375rem;
}
.ticket-style-form textarea,
.ticket-style-form .text
{
    min-width: inherit;
    width: 100%;
    height: 6.6675rem;
    border: none;
    border-bottom: 1px solid #c7d0cc;
    font-size: 0.8rem;
    padding: 0.675rem;
}
.ticket-style-form textarea:focus{
    outline: none;
    border-bottom: 1px solid #888;
    transition: 0.375s;
}
.ticket-style-form .keyword-search-result{
    display: none;
    position: relative;
    width: 100%;
}
.ticket-style-form .keyword-search-result.horizonal{
    overflow: hidden;
}
.ticket-style-form .keyword-search-result.vertical{
}
.ticket-style-form .keyword-search-result.vertical .search-result-options{
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    height: 2rem;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 0 0.5rem;
}
.ticket-style-form .keyword-search-result.vertical .search-result-options a{
    font-size: 0.675rem;
}
.ticket-style-form .keyword-search-result.vertical ul{
    position: absolute;
    top: 2rem;
    left: 0;
    overflow-y:scroll;
    vertical-align: middle;
    display: block;
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.ticket-style-form .keyword-search-result.vertical ul li{
    display: block;
    margin: 0;
    padding: 0.2rem;
    font-size: 0.875rem;
    list-style: none;
    background-color: #e8f6ff;
    border-bottom: 1px solid #fff;
}
.ticket-style-form .keyword-search-result.horizonal label{
    display: block;
    width: 5rem;
    margin: 0.3rem 0rem 0.3rem 0.3rem;
    font-size: 0.875rem;
    float: left;
    vertical-align: middle;
}
.ticket-style-form .keyword-search-result.horizonal ul{
    vertical-align: middle;
    float: left;
    display: block;
    width: calc(100% - 5rem - 0.5rem);
    overflow: hidden;
    margin-left: 0;
    margin: 0.1rem;
    padding: 0;
}
.ticket-style-form .keyword-search-result.horizonal ul li{
    display: inline-block;
    margin: 0;
    padding: 0.2rem;
    margin-left: 0.3rem;
    font-size: 0.875rem;
    list-style: none;
    background-color: #d7efff;
}
.thread{
}
.thread .thread-header{
    display: flex;
    flex-direction: row;
}
.thread .thread-header h4{
    width: 50%;
    margin: 1rem;
}
.thread > .thread-body{
    display: flex;
    flex-direction: row;
}
.thread.row-2 > .thread-body > div{
    width: 50%;
    text-align: center;
}
.thread.row-3 > .thread-body > div{
    width: 33.3333333%;
    text-align: center;
}
.thread .ticket-style-form .ticket-body{
    width: 100%;
    text-align: left;
}
.thread .thread-body.make-buttons{
    text-align: center;
    padding: 2rem;
}