:host{
    display: block;
    position: relative;
    max-width: 100%;
    height: 450px;
    overflow: hidden;
    background-color: #F1F8FE;
}
input{
    height: initial;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding-right: 16px;
    direction: ltr;
}
.header > div{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
    direction: ltr;
}
.header .wrap span{
    height: 33px;
    padding: 8px;
    border: 1px solid #fff;
    background-color: #2c3e50;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}
.body{
    box-sizing: border-box;
    position: absolute;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    top: 33px;
    left: 0;
    background-color: #F1F8FE;
    width: 100%;
    height: calc(100% - 33px);
    direction: ltr;
}
.body > div{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
    direction: ltr;
}
.body .wrap span{
    height: 33px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.05);
    overflow: hidden;
    white-space: nowrap;
}
.wrap{
    display: block;
    overflow: visible;
}
.wrap span{
    position: sticky;
    display: inline-block;
    text-align: center;
    direction: ltr;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: -4px;
}
.row{
    display: block;
    overflow: hidden;
}
.scrollable-y{
    height: 100%;
    padding-bottom: 20px;
    padding-right: 0 !important;
    overflow-y:scroll !important;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}
.scrollable-x{
    padding-right: 6px;
    padding-bottom: 0 !important;
    overflow-x:scroll !important;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}
.header > div,
.body > div{
    margin-right: -5px;
}
.body > div:first-child::-webkit-scrollbar{
    width: 0;
    color: transparent;
    display: none;
}
.body a{
    cursor: pointer;
}

.body input[type=text]{
    width: 100%;
    height: 100%;
}

a.styled,
button.styled
{
    display: inline-block;
    height: 20px;
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    vertical-align: text-top;
}