<div class="header">
  <div class="static" #staticHeader [style.width.px]="staticAreaWidth">
    <div class="wrap">
      <div class="row">
        <span [style.width.px]="45">
          <input type="checkbox" (change)="onTopCheckboxSwitched($event)" [checked]="selectedIndex.length == data[0].length">
        </span>
        <ng-container *ngIf="title">
          <ng-container *ngFor="let t of title[0]; let idx = index;">
            <span [style.width.px]="columnWidth[idx]">{{t}}</span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="scrollable-x" #scrollableHeader [style.width]="styleSnt('calc(100% - ' + staticAreaWidth + 'px)')">
    <div class="wrap" [style.width.px]="styleSnt(scrollAreaWidth)">
      <div class="row">
        <ng-container *ngIf="title">
          <ng-container *ngFor="let t of title[1]; let idx = index;">
            <span [style.width.px]="columnWidth[title[0].length + idx]">{{t}}</span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <div class="scrollable-y" #staticBody [style.width.px]="staticAreaWidth">
    <div class="wrap">
      <ng-container *ngIf="data">
        <ng-container *ngFor="let row of data[0]; let row_idx = index;">
          <div class="row" (mouseenter)="mouseenterStyle(row_idx)" (mouseleave)="mouseleaveStyle(row_idx)">
            <span [style.width.px]="45">
              <input type="checkbox" [value]="row_idx" (change)="onCheckboxSwitched($event)" [checked]="selectedIndex.indexOf(row_idx) > -1">
            </span>
            <ng-container *ngFor="let d of row; let d_idx = index;" [ngSwitch]="d.actionType">
              <span *ngSwitchCase="'button'" [style.width.px]="columnWidth[d_idx]">
                <a class="styled" (click)="methodEmit(d.methodName, row_idx)">{{d.text}}</a>
              </span>
              <span *ngSwitchCase="'input'" [style.width.px]="columnWidth[d_idx]">
                <input type="text" (keyup.enter)="methodEmit(d.methodName, row_idx)" [value]="d.text">
              </span>
              <span *ngSwitchDefault [style.width.px]="columnWidth[d_idx]">{{d.text}}</span>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="scrollable-x scrollable-y" #scrollableBody [style.width]="styleSnt('calc(100% - ' + staticAreaWidth + 'px)')">
    <div class="wrap" [style.width.px]="styleSnt(scrollAreaWidth)">
      <ng-container *ngIf="data">
        <ng-container *ngFor="let row of data[1]; let row_idx = index;">
          <div class="row" (mouseenter)="mouseenterStyle(row_idx)" (mouseleave)="mouseleaveStyle(row_idx)">
            <ng-container *ngFor="let d of row; let d_idx = index;" [ngSwitch]="d.actionType">
              <span *ngSwitchCase="'button'" [style.width.px]="columnWidth[title[0].length + d_idx]">
                <a class="styled" (click)="methodEmit(d.methodName, row_idx)">{{d.text}}</a>
              </span>
              <span *ngSwitchCase="'input'" [style.width.px]="columnWidth[d_idx]">
                <input type="text" (keyup.enter)="methodEmit(d.methodName, row_idx)" [(ngModel)]="d.text">
              </span>
              <span *ngSwitchDefault [style.width.px]="columnWidth[title[0].length + d_idx]">{{d.text}}</span>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>